@charset "utf-8";
*{font-family:Arial ,"microsoft yahei";}
body {	 
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px; 
	color: #333;
	background-color: #fff;
	
}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote锛宼h,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
ol,ul {list-style:none;}
capation,th{text-align:left;}

q:before, q:after{content:' '}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary ,header{display: block}
[hidden], template {display:none}
hr {height: 0;box-sizing: content-box}


button, input, optgroup, select, textarea {margin: 0;font: inherit;color: inherit}
button {overflow: visible}
button, select {text-transform: none}
button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button;cursor: pointer}
button[disabled], html input[disabled] {cursor: default}
input {line-height: normal}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {height:auto}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance:none}


textarea {overflow: auto}
table {border-spacing: 0;border-collapse: collapse}
td, th {padding: 0}


/* h1---h6 */
h1,h2,h3,h4,h5,h6{ font-weight: normal;}

h1{ font-size:24px;}
h2{ font-size:18px;}
h3{ font-size:16px;}
h4{ font-size:14px;}
h5{ font-size:12px;}
h6{ font-size:10px;}
/* font */
.f12{ font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f24 { font-size:24px; }
.f30 { font-size:30px; }
/*font color*/
a {background: 0 0}
a:active, a:hover {outline: 0}
a { outline:none;}
a:link { color: #000;  text-decoration: none; }
a:visited { color:#000 ; text-decoration: none; }
a:hover { color:#36a3dd; text-decoration: none; }
a:active { color: #000; text-decoration: none; }
.cW, a.cW:link, a.cW:visited { color:#FFF; }
a.cW:hover{ color:#FFF;text-decoration: underline; }
.cG, a.cG:link, a.cG:visited { color:#45c01a; }
.cR, a.cR:link, a.cR:visited { color:#dc0000; }
.cB, a.cB:link, a.cB:visited  { color:#055FA8; }
.cC, a.cC:link, a.cC:visited  { color:#CCC; }
.cA, a.cA:link, a.cA:visited { color:#aaa; }
.c9, a.c9:link, a.c9:visited  { color:#999; }
.c6, a.c6:link, a.c6:visited { color:#666; }
.c3, a.c3:link, a.c3:visited  { color:#333; }
.c35,a.c35:link, a.c35:visited { color:#353535;}
/*background color*/
.bg-w{background:#fff;}
.bg-hui_eb{ background:#ebebeb}
.bg-hui_da{ background:#dadada}
.bg_K{ background:#FFFAF0;}
.bg_B{ background:#80c9e1;}
.bg_R{ background:#e54949;}
.bg_G{background:#75be00;}
.bg_K_1{ background:#d6eab8;}
.bg_qlan{ background:#4c4b58;}


/*font align*/
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.tb { font-weight:700;}
/* layout */
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh120{line-height:120%}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;} 
.bc{margin-left:auto;margin-right:auto;} 
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

/* 鍏敤楂樺害 */
.h40{ height:40px;}
.h20{height:20px;}


/* 琛岄珮 */
.lin40{ line-height:40px;}

.cb{clear:both;height:0px; overflow:hidden;}
.blank{clear:both;height:10px; overflow:hidden;}
.cl{clear:left;}
.cr{clear:right;}

.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block;}
*html .clearfix{height:1%}
. Clearfix{display:block;}
.vm{vertical-align:center;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}
 
.w{width:100%}
.h{height:100%}
.line2{ line-height:2; }
.line3{ line-height:3; }
.line4{ line-height:4; }

.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}

.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

.line-d { border-bottom:1px dashed #EAEAEA; }
.line-b { border-bottom:1px solid #EAEAEA;}
.line-d2 { border-bottom:1px dashed #abccde;}
.line-all { border:1px solid #EAEAEA;}
.line-new{border:1px solid #F90; background:#FCFAD1}
.hand{cursor:pointer;}
/*-------display------*/
.hide {display:none;}
.block {display:block;}
.inline{display: inline;}
.dib{display:inline-block;}
/*-------------btn---------------------*/
.btn_1,.btn_1:link,.btn_1:visited{background:#75be00;border-radius:5px; color:#FFF; border:0 none;height:40px; text-align:center; line-height:40px; display:block;  cursor: pointer;}
.btn_hui,.btn_hui:link,.btn_hui:visited{background:#aaa;border-radius:5px; color:#FFF; border:0 none;height:40px; text-align:center; line-height:40px; display:block;  cursor: pointer;}

.btn:hover,.btn:active,.btn_1:hover,.btn_1:active,.btn_2:hover,.btn_2:active,.btn_3:hover,.btn_3:active,.btn_small:hover,.btn_small:active{background:#75be00; color:#fff;}

.btn_2,.btn_2:link,.btn_2:visited{background:#fff;border-radius:5px; color:#333; border:0 none;height:40px; text-align:center; line-height:40px; display:block;cursor: pointer;}
.btn_3,.btn_3:link,.btn_3:visited{background:#fff;border-radius:5px; color:#dc0000; border:1px solid #dc0000;height:40px; text-align:center; line-height:40px; display:block;}
.btn_4,.btn_4:link,.btn_4:visited{background:#e54949;border-radius:5px; color:#FFF; border:0 none;height:40px; text-align:center; line-height:40px; display:block;}

.btn_small,.btn_small:link,.btn_small:visited{background:#75be00;border-radius:3px; color:#FFF; border:0 none;height:25px; text-align:center; line-height:25px; display:block;cursor: pointer; padding:0 10px;}
.btn_small_3,.btn_small_3:link,.btn_small_3:visited{background:#fff;border-radius:3px; color:#333; border:0 none;height:25px; text-align:center; line-height:25px; display:block;border:1px solid #ddd;cursor: pointer;padding:0 10px;}


.btn_small_white,.btn_small_white:link,.btn_small_white:visited{border:1px solid #fff;border-radius:3px; color:#fff; border:0 none;height:25px; text-align:center; line-height:25px; display:block;border:1px solid #ddd;cursor: pointer;}


/*----------------window 鎸夐挳鍥炬爣鎻愮ず淇℃伅--------------------- */
.msg-right,.msg-wrong,.msg-warn,.msg-affirm,.msg-user{background: url(../images/imggroup/msg.gif) no-repeat; width:48px; height:48px; margin:10px 20px; display:block;}
.msg-right { background-position:0 0; }
.msg-wrong {background-position:0 -50px; }
.msg-warn {background-position:0 -100px;}
.msg-affirm {background-position:0 -150px;}
.msg-user { background-position:0 -200px;}
.msg-bg { border:1px solid #ffc198; background-color:#feffd6;}
.msg-bg0,.msg-bg50,.msg-bg100,.msg-bg150,.msg-bg200,.msg-bg250,.msg-bg350{background: url(../images/imggroup/msg_bg.gif) no-repeat ;width:16px; height:16px;display:block; margin:0px 5px 5px 5px; vertical-align:middle;}
.msg-bg0 { background-position:0 0; }
.msg-bg50 { background-position: 0 -50px;  }
.msg-bg100 { background-position: 0 -100px;  }
.msg-bg150 { background-position: 0 -150px;  }
.msg-bg200 { background-position: 0 -200px; }
.msg-bg250 { background-position: 0 -250px; }
.msg-bg350 { background-position: 0 -350px;  }

/*----------------page--------------------- */
.pages{ width:100; text-align:right; padding:10px 0; clear:both; margin:20px 0;}
.pages span,.pages a,.pages b{  margin:0 2px;}
.pages span font{ color:#f00;}
.pages a,.pages b{  background:#fff; padding:6px 10px; text-decoration:none; color:#666}
.pages span { padding-right:10px }
.pages b,.pages a:hover{ background:#75be00; color:#fff;}
.mar1200{ width:1200px; margin:0px auto;} 
.bor_b{border-bottom: 1px solid #eaeaea;}
.zs_ba_color{background: #ebebeb;line-height: 44px;color: #000;font-weight: bold;text-indent: 12px;}
.fb_none{font-weight: normal;}
.zscp{width: 216px;height: 240px;border:1px solid #ebebeb;padding: 7px;}
.bor_all{border:1px solid #e7e7e7;}
.jbzitx{margin-left: 300px;width: 800px;line-height: 32px;}
.jbzitx span{float: left;width: 120px;color: #3a3a3a;}
.jbzitx_text{float: left;width: 352px;line-height: 30px;height: 30px;border-radius: 3px;border: 1px solid #ddd;}
.jbzitx select{float: left;width: 172px;height: 30px;border: 1px solid #ddd;border-radius: 3px;}
.jbzitx_textarea{float: left;width: 346px;line-height: 16px;height: 94px;border-radius: 3px;border: 1px solid #ddd;padding: 3px;}
.jbzitx_submit{float: left;width: 258px;border: 1px solid #75be00;line-height: 38px;color: #fff;border-radius: 3px;background: #75be00;}
.jbzitx_submit:hover{float: left;width: 258px;border: 1px solid #6fb400;line-height: 38px;color: #fff;border-radius: 3px;background: #6fb400;}


/* 文本框+下拉框 */
.tu_xlc{position: absolute;left: -1px;top: 30px;width: 352px;border: 1px solid #ddd;background: #fff;display: none;}
.tu_xlc li{float:left;width: 100%;line-height: 30px;text-indent: 5px;font-size: 14px;cursor: pointer;text-align: left;}
.tu_xlc li:hover{float:left;width: 100%;line-height: 30px;text-indent: 5px;font-size: 14px;background: #ddd;text-align: left;}
#id_wbk{text-indent: 5px;}



/*============== 内容 ==============*/
.w-990{width:990px;margin:0 auto;}
.mzh_dljm{float: left;width: 988px;border: 1px solid #eaeaea;background: #f6f6f6;margin-top: 30px;display: inline;}
.mzh_dljm_left{float: left;width: 350px;padding:60px 0 170px 100px;overflow: hidden;}
.mzh_dljm_left li{float: left;width: 350px;}
.mzh_dljm_left_1{float: left;width: 350px;background: url("../images/mzh_dljm_1_8_5.gif") 0 1px no-repeat;font-size: 16px;font-family: "微软雅黑";text-indent: 15px;margin-bottom: 27px;display: inline;}
.mzh_dljm_left_2{float: left;width: 350px;margin-bottom: 20px;display: inline;cursor: pointer;}
.mzh_dljm_left_3{float: left;width: 110px;background:url("../images/mzh_dljm_3_8_5.gif") no-repeat;margin:0 10px 20px 0px;cursor:pointer;height: 44px;line-height: 44px;font-size: 14px;font-family: "宋体";color: #666;text-indent: 45px;}
.mzh_dljm_left_4{float: left;width: 110px;background:url("../images/mzh_dljm_4_8_5.gif") no-repeat;cursor:pointer;height: 44px;line-height: 44px;font-size: 14px;font-family: "宋体";color: #666;text-indent: 45px;}
.mzh_dljm_left_5{float: left;width: 110px;background:url("../images/mzh_dljm_5_8_5.gif") no-repeat;cursor:pointer;height: 44px;line-height: 44px;font-size: 14px;font-family: "宋体";color: #666;text-indent: 45px;}
.mzh_dljm_left_2aa{float: left;width: 350px;margin-bottom: 20px;display: inline;cursor: pointer;color: #fff;line-height: 48px;font-size: 20px;font-family: "微软雅黑";}


.mzh_dljm_right{float: left;width: 448px;padding:60px 0 0px 90px;overflow: hidden;background: #fff;}
.mzh_dljm_right_dl{float: left;width: 448px;}
.mzh_dljm_right_dl li{float: left;width: 448px;margin-bottom: 20px;display: inline;}
.mzh_dljm_right_dl_2{float: left;width: 286px;border:1px solid #d2d2d2;height: 38px;color: #999;text-indent: 9px;line-height: 38px;}
.mzh_zhmm{float: left;color: #58a1fc;text-decoration: none;margin-left: 140px;display: inline;}
.mzh_zhmm:hover{float: left;color: #f10;text-decoration: none;margin-left: 140px;display: inline;}
.mzh_dljm_right_dl_3{float: left;width: 286px;height: 34px;line-height: 34px;border: 1px solid #73b726;text-align: center;background: #73b726;font-size: 16px;color: #fff;font-family: "微软雅黑";cursor: pointer;}
.mzh_dljm_right_dl_3:hover{float: left;width: 286px;height: 34px;line-height: 34px;border: 1px solid #73b726;text-align: center;background: #73b726;font-size: 16px;color: #fff;font-family: "微软雅黑";cursor: pointer;}
.mzh_dljm_right_dl_4{float: left;width: 286px;height: 34px;line-height: 34px;border: 1px solid #d2d2d2;text-align: center;background: url("../images/mzh_dljm_7_8_5.gif") repeat-x;font-size: 16px;color: #555;font-family: "微软雅黑";cursor: pointer;}
.mzh_dljm_right_dl_4:hover{float: left;width: 286px;height: 34px;line-height: 34px;border: 1px solid #d2d2d2;text-align: center;background: #d4d4d4;font-size: 16px;color: #555;font-family: "微软雅黑";cursor: pointer;}




/* 免费注册 */
.mzh_mfzc_tjr{float: left;width: 448px;}
.mzh_mfzc_tjr dd{float: left;width: 78px;text-align: right;line-height: 36px;color: #555;font-size: 14px;font-weight: bold;height: 36px;}
.mzh_mfzc_tjr dt{float: left;width: 367px;margin-left: 3px;overflow: hidden;}
.mzh_mfzc_tjr dt input{float: left;width: 209px;padding-left: 5px;overflow: hidden;border: 1px solid #d2d2d2;color: #999;height: 36px;line-height: 36px;}

