/*************** 底部 ****************************/
.bottom_di{width:100%;background:#fff;border-top:1px solid #ddd;padding:20px 0;}
	.wdwrap{width:1200px;margin:0 auto;}
	.weix_jyi ul li{ border:1px solid #ddd; margin-bottom:15px; border-radius:4px; text-indent:47px; line-height:29px; font-size:16px; color:#666; width:121px; height:29px;}
	.weix_jyi ul li a{ color:#666;}
	.icon_one{ background:url(http://base.okwei.com/images/xh-weixin816_001.png) 8px 6px no-repeat;}
	.icon_two{ background:url(http://base.okwei.com/images/xh-weixin816_002.png) 12px 6px no-repeat;}
	.icon_thr{ background:url(http://base.okwei.com/images/xh-weixin816_003.png) 6px 4px no-repeat;}
	
	.bottom-text dl{float:left;display:inline-block;}
	.bottom-text dt{font-size:16px;line-height:20px;font-family:"微软雅黑";margin:0 0 8px 0;}
	.bottom-text dd{font-size:12px;line-height:26px;}
	.bottom-text dd a{ color:#333;}
	.bottom-text .bg_blue{ background:url(http://base.okimgs.com/images/ordcx_ico.png) no-repeat; width:79px; height:34px; text-align:center; line-height:34px;}
	.bottom-text .bg_blue a{ color:#fff;}
	.bottom-text dd p{font-size:20px;color:#666;margin:13px 0 0 0;background:url(http://base.okwei.com/images/wd_ico1.png) no-repeat 0 -130px;text-indent:30px;overflow:hidden;width:170px;}
	.bottom-text dd span{font-size:12px;color:#666;letter-spacing:1px;margin:10px 0 0 0;}
	.QQbtn{height:34px;background:url(http://base.okwei.com/images/wd-bottom.png) no-repeat;text-indent:40px;line-height:34px;cursor:pointer;width:151px;font-family:Arial ,'微软雅黑';font-size:16px;color:#fff;margin:5px 0 0 0;}
.foot{background:#414141;width:100%;}
	.foot-text{color:#e2e2e2;text-align:center;padding:18px 0 14px 0;}
	.foot-text li{line-height:24px;}
	.foot-text li a{color:#e2e2e2;}
	.foot-text li a:hover{color:#fff;}				
	.foot-text li span{margin:0 15px 0 0;}	
	.foot-pic{width:1200px;text-align:center;padding:0 0 30px 0;}
	.foot-pic a{margin:0 5px 0 0;} 
	.blank {
    clear: both;
    height: 10px;
    overflow: hidden;
}
