<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-4.1.xsd
    	http://www.springframework.org/schema/util 
    	http://www.springframework.org/schema/util/spring-util-4.1.xsd
    	">
   	
   
	<!-- 定时任务的factorybean,配置其他config -->
	<bean id="jobFactory" class="com.bbyiya.cts.util.JobFactory"></bean>
	<!-- 定时器服务  -->
	<bean id="HeartbeatJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.bbyiya.cts.job.HeartbeatJob"></property>
		<property name="jobDataAsMap">
			<map>
				<description>jobDataAsMap</description>
			</map>
		</property>
	</bean>
	<!-- 另一种触发器是CornTrigger -->
	<bean id="cornTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="HeartbeatJobDetail" />
		<!-- 每个5分钟触发 -->
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>
	
	
	<!-- 自动签收订单定时器服务  -->
	<bean id="auotReceivingJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.bbyiya.cts.job.OrderReceivingJob"></property>
		<property name="jobDataAsMap">
			<map>
				<description>jobDataAsMap</description>
			</map>
		</property>
	</bean>
	<!-- 自动签收订单CornTrigger -->
	<bean id="auotReceivingTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="auotReceivingJobDetail" />
		<!-- 每天23点触发 -->
		<property name="cronExpression" value="0 0 23 * * ?" />
	</bean>
	
	
	<!-- 短信通知用户账户充值定时器服务  -->
	<bean id="smsRemindUserJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.bbyiya.cts.job.SmsRemindChongzhiJob"></property>
		<property name="jobDataAsMap">
			<map>
				<description>jobDataAsMap</description>
			</map>
		</property>
	</bean>
	<!--  短信通知用户账户充值CornTrigger -->
	<bean id="smsRemindUserTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="smsRemindUserJobDetail" />
		<!-- 每个5分钟触发 -->
		<property name="cronExpression" value="0 0/32 9,12 * * ?" />
	</bean>
	
	
	
	
	<!-- 定义核心调度器 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="jobFactory" ref="jobFactory"></property>
		<property name="triggers">
			<list>
				<ref bean="cornTrigger" />  
				<ref bean="auotReceivingTrigger" /> 
				<ref bean="smsRemindUserTrigger" />  
			</list>
		</property>
	</bean>
	
	
	
	
</beans>
  