<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.MBigcasestagesummaryMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.MBigcasestagesummary" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="StageId" property="stageid" jdbcType="INTEGER" />
    <result column="CaseTypeId" property="casetypeid" jdbcType="INTEGER" />
    <result column="GroupCount" property="groupcount" jdbcType="INTEGER" />
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="stageSummaryInfo" type="com.bbyiya.vo.bigcase.BigcasesummaryResult" >
    <result column="CaseTypeId" property="casetypeid" jdbcType="INTEGER" />
    <result column="GroupCount" property="groupcount" jdbcType="INTEGER" />
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, StageId, CaseTypeId, GroupCount,Content 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" /> 
     from m_bigcasestagesummary
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findStageSummaryByStageId" resultMap="stageSummaryInfo" >
    select 
    <include refid="Base_Column_List" /> 
     from m_bigcasestagesummary
    where StageId = #{stageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_bigcasestagesummary
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.MBigcasestagesummary" >
    insert into m_bigcasestagesummary (Id, StageId, CaseTypeId, 
      GroupCount, Content)
    values (#{id,jdbcType=INTEGER}, #{stageid,jdbcType=INTEGER}, #{casetypeid,jdbcType=INTEGER}, 
      #{groupcount,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.MBigcasestagesummary" >
    insert into m_bigcasestagesummary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="stageid != null" >
        StageId,
      </if>
      <if test="casetypeid != null" >
        CaseTypeId,
      </if>
      <if test="groupcount != null" >
        GroupCount,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stageid != null" >
        #{stageid,jdbcType=INTEGER},
      </if>
      <if test="casetypeid != null" >
        #{casetypeid,jdbcType=INTEGER},
      </if>
      <if test="groupcount != null" >
        #{groupcount,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.MBigcasestagesummary" >
    update m_bigcasestagesummary
    <set >
      <if test="stageid != null" >
        StageId = #{stageid,jdbcType=INTEGER},
      </if>
      <if test="casetypeid != null" >
        CaseTypeId = #{casetypeid,jdbcType=INTEGER},
      </if>
      <if test="groupcount != null" >
        GroupCount = #{groupcount,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bbyiya.model.MBigcasestagesummary" >
    update m_bigcasestagesummary
    set StageId = #{stageid,jdbcType=INTEGER},
      CaseTypeId = #{casetypeid,jdbcType=INTEGER},
      GroupCount = #{groupcount,jdbcType=INTEGER},
      Content = #{content,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.MBigcasestagesummary" >
    update m_bigcasestagesummary
    set StageId = #{stageid,jdbcType=INTEGER},
      CaseTypeId = #{casetypeid,jdbcType=INTEGER},
      GroupCount = #{groupcount,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>