<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.MBigcaseMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.MBigcase" >
    <id column="CaseId" property="caseid" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="TypeId" property="typeid" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="ImageDefault" property="imagedefault" jdbcType="VARCHAR" />
    <result column="StartDay" property="startday" jdbcType="INTEGER" />
    <result column="EndDay" property="endday" jdbcType="INTEGER" />
    <result column="Summary" property="summary" jdbcType="LONGVARCHAR" />
    <result column="ForDay" property="forday" jdbcType="INTEGER" />
  </resultMap>
   <resultMap id="BaseResultExpMap" type="com.bbyiya.vo.bigcase.BigcaseResult" >
    <id column="CaseId" property="caseId" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="TypeId" property="typeId" jdbcType="INTEGER" />
    <result column="ImageDefault" property="imageDefault" jdbcType="VARCHAR" />
    <result column="Summary" property="summary" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CaseId, Title, TypeId, CreateTime, ImageDefault, StartDay, EndDay ,Summary
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_bigcase
    where CaseId = #{caseid,jdbcType=INTEGER}
  </select>
  <select id="findMBigcaseList" resultMap="BaseResultMap" ><!-- 获取宝宝大事件列表 -->
    select 
    <include refid="Base_Column_List" />
    from m_bigcase
    where ForDay &gt;= #{start,jdbcType=INTEGER} and ForDay &lt;= #{end,jdbcType=INTEGER}  
  </select>
  <select id="findMBigcaseResultList" resultMap="BaseResultExpMap" >
    select 
    <include refid="Base_Column_List" />
    from m_bigcase
    where ForDay &gt;= #{start,jdbcType=INTEGER} and ForDay &lt;= #{end,jdbcType=INTEGER}  
  </select>
  <select id="getMBigcaseResultByCaseId" resultMap="BaseResultExpMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from m_bigcase
    where CaseId = #{caseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_bigcase  where CaseId = #{caseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.MBigcase" >
    insert into m_bigcase (CaseId, Title, TypeId, 
      CreateTime, ImageDefault, StartDay, 
      EndDay, Summary)
    values (#{caseid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{imagedefault,jdbcType=VARCHAR}, #{startday,jdbcType=INTEGER}, 
      #{endday,jdbcType=INTEGER}, #{summary,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.MBigcase" >
    insert into m_bigcase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caseid != null" >
        CaseId,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="typeid != null" >
        TypeId,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="imagedefault != null" >
        ImageDefault,
      </if>
      <if test="startday != null" >
        StartDay,
      </if>
      <if test="endday != null" >
        EndDay,
      </if>
      <if test="summary != null" >
        Summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caseid != null" >
        #{caseid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="imagedefault != null" >
        #{imagedefault,jdbcType=VARCHAR},
      </if>
      <if test="startday != null" >
        #{startday,jdbcType=INTEGER},
      </if>
      <if test="endday != null" >
        #{endday,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.MBigcase" >
    update m_bigcase
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        TypeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="imagedefault != null" >
        ImageDefault = #{imagedefault,jdbcType=VARCHAR},
      </if>
      <if test="startday != null" >
        StartDay = #{startday,jdbcType=INTEGER},
      </if>
      <if test="endday != null" >
        EndDay = #{endday,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        Summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CaseId = #{caseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bbyiya.model.MBigcase" >
    update m_bigcase
    set Title = #{title,jdbcType=VARCHAR},
      TypeId = #{typeid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ImageDefault = #{imagedefault,jdbcType=VARCHAR},
      StartDay = #{startday,jdbcType=INTEGER},
      EndDay = #{endday,jdbcType=INTEGER},
      Summary = #{summary,jdbcType=LONGVARCHAR}
    where CaseId = #{caseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.MBigcase" >
    update m_bigcase
    set Title = #{title,jdbcType=VARCHAR},
      TypeId = #{typeid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ImageDefault = #{imagedefault,jdbcType=VARCHAR},
      StartDay = #{startday,jdbcType=INTEGER},
      EndDay = #{endday,jdbcType=INTEGER}
    where CaseId = #{caseid,jdbcType=INTEGER}
  </update>
</mapper>