<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.MBigcasetypeMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.MBigcasetype" >
    <id column="TypeId" property="typeid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TypeId, Name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from M_BigCaseType
    where TypeId = #{typeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from M_BigCaseType
    where TypeId = #{typeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.MBigcasetype" >
    insert into M_BigCaseType (TypeId, Name)
    values (#{typeid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.MBigcasetype" >
    insert into M_BigCaseType
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        TypeId,
      </if>
      <if test="name != null" >
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.MBigcasetype" >
    update M_BigCaseType
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where TypeId = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.MBigcasetype" >
    update M_BigCaseType
    set Name = #{name,jdbcType=VARCHAR}
    where TypeId = #{typeid,jdbcType=INTEGER}
  </update>
</mapper>