<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.MBigcasestageMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.MBigcasestage" >
    <id column="StageId" property="stageid" jdbcType="INTEGER" />
    <result column="Start" property="start" jdbcType="INTEGER" />
    <result column="End" property="end" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    StageId, Start, End, Title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_bigcasestage
    where StageId = #{stageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_bigcasestage
    where StageId = #{stageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.MBigcasestage" >
    insert into m_bigcasestage (StageId, Start, End, 
      Title)
    values (#{stageid,jdbcType=INTEGER}, #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.MBigcasestage" >
    insert into m_bigcasestage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stageid != null" >
        StageId,
      </if>
      <if test="start != null" >
        Start,
      </if>
      <if test="end != null" >
        End,
      </if>
      <if test="title != null" >
        Title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stageid != null" >
        #{stageid,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        #{start,jdbcType=INTEGER},
      </if>
      <if test="end != null" >
        #{end,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.MBigcasestage" >
    update m_bigcasestage
    <set >
      <if test="start != null" >
        Start = #{start,jdbcType=INTEGER},
      </if>
      <if test="end != null" >
        End = #{end,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where StageId = #{stageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.MBigcasestage" >
    update m_bigcasestage
    set Start = #{start,jdbcType=INTEGER},
      End = #{end,jdbcType=INTEGER},
      Title = #{title,jdbcType=VARCHAR}
    where StageId = #{stageid,jdbcType=INTEGER}
  </update>
</mapper>