<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.MBigcaseclasstagMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.MBigcaseclasstag" >
    <id column="TagId" property="tagid" jdbcType="INTEGER" />
    <result column="BigCaseTypeId" property="bigcasetypeid" jdbcType="INTEGER" />
    <result column="Value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TagId, BigCaseTypeId, Value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_bigcaseclasstag
    where TagId = #{tagid,jdbcType=INTEGER}
  </select>
  <select id="findTagsByClassId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_bigcaseclasstag
    where BigCaseTypeId = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_bigcaseclasstag
    where TagId = #{tagid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.MBigcaseclasstag" >
    insert into m_bigcaseclasstag (TagId, BigCaseTypeId, Value)
    values (#{tagid,jdbcType=INTEGER}, #{bigcasetypeid,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR} )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.MBigcaseclasstag" >
    insert into m_bigcaseclasstag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagid != null" >
        TagId,
      </if>
      <if test="bigcasetypeid != null" >
        BigCaseTypeId,
      </if>
      <if test="value != null" >
        Value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
      <if test="bigcasetypeid != null" >
        #{bigcasetypeid,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.MBigcaseclasstag" >
    update m_bigcaseclasstag
    <set >
      <if test="bigcasetypeid != null" >
        BigCaseTypeId = #{bigcasetypeid,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        Value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where TagId = #{tagid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.MBigcaseclasstag" >
    update m_bigcaseclasstag
    set BigCaseTypeId = #{bigcasetypeid,jdbcType=INTEGER},
      Value = #{value,jdbcType=VARCHAR}
    where TagId = #{tagid,jdbcType=INTEGER}
  </update>
</mapper>