<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.OOrderaddressMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.OOrderaddress" >
    <id column="OrderAddressId" property="orderaddressid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Reciver" property="reciver" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="PostCode" property="postcode" jdbcType="VARCHAR" />
    <result column="Province" property="province" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="District" property="district" jdbcType="VARCHAR" />
    <result column="StreetDetail" property="streetdetail" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    OrderAddressId, UserId, Reciver, Phone, PostCode, Province, City, District, StreetDetail, 
    CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from O_OrderAddress
    where OrderAddressId = #{orderaddressid,jdbcType=BIGINT}
  </select>
  <select id="findListByIds" resultMap="BaseResultMap"  ><!-- 02  List<Long>Ids 获取收货地址列表 -->
    select 
    <include refid="Base_Column_List" />
    from O_OrderAddress  where OrderAddressId in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
 	 #{item}  
	</foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from O_OrderAddress
    where OrderAddressId = #{orderaddressid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.OOrderaddress" >
    insert into O_OrderAddress (OrderAddressId, UserId, Reciver, 
      Phone, PostCode, Province, 
      City, District, StreetDetail, 
      CreateTime)
    values (#{orderaddressid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{reciver,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{streetdetail,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertReturnId" useGeneratedKeys="true" keyProperty="orderaddressid" parameterType="com.bbyiya.model.OOrderaddress" >
    insert into O_OrderAddress (OrderAddressId, UserId, Reciver, 
      Phone, PostCode, Province, 
      City, District, StreetDetail, 
      CreateTime)
    values (#{orderaddressid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{reciver,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{streetdetail,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.OOrderaddress" >
    insert into O_OrderAddress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderaddressid != null" >
        OrderAddressId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="reciver != null" >
        Reciver,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="postcode != null" >
        PostCode,
      </if>
      <if test="province != null" >
        Province,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="district != null" >
        District,
      </if>
      <if test="streetdetail != null" >
        StreetDetail,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderaddressid != null" >
        #{orderaddressid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="reciver != null" >
        #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="streetdetail != null" >
        #{streetdetail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.OOrderaddress" >
    update O_OrderAddress
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="reciver != null" >
        Reciver = #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        PostCode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        Province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        District = #{district,jdbcType=VARCHAR},
      </if>
      <if test="streetdetail != null" >
        StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OrderAddressId = #{orderaddressid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.OOrderaddress" >
    update O_OrderAddress
    set UserId = #{userid,jdbcType=BIGINT},
      Reciver = #{reciver,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      PostCode = #{postcode,jdbcType=VARCHAR},
      Province = #{province,jdbcType=VARCHAR},
      City = #{city,jdbcType=VARCHAR},
      District = #{district,jdbcType=VARCHAR},
      StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where OrderAddressId = #{orderaddressid,jdbcType=BIGINT}
  </update>
</mapper>