<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.OPayorderMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.OPayorder" >
    <id column="PayId" property="payid" jdbcType="VARCHAR" />
    <result column="UserOrderId" property="userorderid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="PrepayId" property="prepayid" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="TotalPrice" property="totalprice" jdbcType="DECIMAL" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="PayTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="PrepayTime" property="prepaytime" jdbcType="TIMESTAMP" />
    <result column="PayType" property="paytype" jdbcType="INTEGER" />
    <result column="OrderType" property="ordertype" jdbcType="INTEGER" />
    <result column="WalletAmount" property="walletamount" jdbcType="DOUBLE" />
    <result column="CashAmount" property="cashamount" jdbcType="DOUBLE" />
    <result column="ExtObject" property="extobject" jdbcType="VARCHAR" />
    <result column="ExtObject2" property="extobject2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
      PayId, UserOrderId, UserId, PrepayId, Status, TotalPrice, CreateTime, PrepayTime, 
    PayTime, PayType, OrderType, WalletAmount, CashAmount, ExtObject, ExtObject2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from o_payorder
    where PayId = #{payid,jdbcType=VARCHAR}
  </select>
  <select id="getpostPayorderByworkId" resultMap="BaseResultMap"  ><!-- 获取邮费订单 -->
    select 
    <include refid="Base_Column_List" />
    from o_payorder
    where UserOrderId = #{workId,jdbcType=VARCHAR} and OrderType=6  limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from o_payorder
    where PayId = #{payid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.OPayorder" >
    insert into o_payorder (PayId, UserOrderId, UserId, 
      PrepayId, Status, TotalPrice, 
      CreateTime, PrepayTime, PayTime, 
      PayType, OrderType, WalletAmount, 
      CashAmount, ExtObject, ExtObject2
      )
    values (#{payid,jdbcType=VARCHAR}, #{userorderid,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{prepayid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{totalprice,jdbcType=DOUBLE}, 
      #{createtime,jdbcType=TIMESTAMP}, #{prepaytime,jdbcType=TIMESTAMP}, #{paytime,jdbcType=TIMESTAMP}, 
      #{paytype,jdbcType=INTEGER}, #{ordertype,jdbcType=INTEGER}, #{walletamount,jdbcType=DOUBLE}, 
      #{cashamount,jdbcType=DOUBLE}, #{extobject,jdbcType=VARCHAR}, #{extobject2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.OPayorder" >
    insert into o_payorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payid != null" >
        PayId,
      </if>
      <if test="userorderid != null" >
        UserOrderId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="prepayid != null" >
        PrepayId,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="totalprice != null" >
        TotalPrice,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="prepaytime != null" >
        PrepayTime,
      </if>
      <if test="paytime != null" >
        PayTime,
      </if>
      <if test="paytype != null" >
        PayType,
      </if>
      <if test="ordertype != null" >
        OrderType,
      </if>
      <if test="walletamount != null" >
        WalletAmount,
      </if>
      <if test="cashamount != null" >
        CashAmount,
      </if>
      <if test="extobject != null" >
        ExtObject,
      </if>
      <if test="extobject2 != null" >
        ExtObject2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payid != null" >
        #{payid,jdbcType=VARCHAR},
      </if>
      <if test="userorderid != null" >
        #{userorderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="prepayid != null" >
        #{prepayid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="prepaytime != null" >
        #{prepaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="walletamount != null" >
        #{walletamount,jdbcType=DOUBLE},
      </if>
      <if test="cashamount != null" >
        #{cashamount,jdbcType=DOUBLE},
      </if>
      <if test="extobject != null" >
        #{extobject,jdbcType=VARCHAR},
      </if>
      <if test="extobject2 != null" >
        #{extobject2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.OPayorder" >
    update o_payorder
    <set >
      <if test="userorderid != null" >
        UserOrderId = #{userorderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="prepayid != null" >
        PrepayId = #{prepayid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="totalprice != null" >
        TotalPrice = #{totalprice,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="prepaytime != null" >
        PrepayTime = #{prepaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null" >
        PayTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytype != null" >
        PayType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="ordertype != null" >
        OrderType = #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="walletamount != null" >
        WalletAmount = #{walletamount,jdbcType=DOUBLE},
      </if>
      <if test="cashamount != null" >
        CashAmount = #{cashamount,jdbcType=DOUBLE},
      </if>
      <if test="extobject != null" >
        ExtObject = #{extobject,jdbcType=VARCHAR},
      </if>
      <if test="extobject2 != null" >
        ExtObject2 = #{extobject2,jdbcType=VARCHAR},
      </if>
    </set>
    where PayId = #{payid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.OPayorder" >
    update o_payorder
    set UserOrderId = #{userorderid,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=BIGINT},
      PrepayId = #{prepayid,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      TotalPrice = #{totalprice,jdbcType=DOUBLE},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      PrepayTime = #{prepaytime,jdbcType=TIMESTAMP},
      PayTime = #{paytime,jdbcType=TIMESTAMP},
      PayType = #{paytype,jdbcType=INTEGER},
      OrderType = #{ordertype,jdbcType=INTEGER},
      WalletAmount = #{walletamount,jdbcType=DOUBLE},
      CashAmount = #{cashamount,jdbcType=DOUBLE},
      ExtObject = #{extobject,jdbcType=VARCHAR},
      ExtObject2 = #{extobject2,jdbcType=VARCHAR}
    where PayId = #{payid,jdbcType=VARCHAR}
  </update>
</mapper>