<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.OUserordersMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.OUserorders" >
    <id column="UserOrderId" property="userorderid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="TotalPrice" property="totalprice" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="BranchUserId" property="branchuserid" jdbcType="BIGINT" />
    <result column="OrderAddressId" property="orderaddressid" jdbcType="BIGINT" />
    <result column="PayId" property="payid" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="OrderTime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="PayTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="OrderTotalPrice" property="ordertotalprice" jdbcType="DECIMAL" />
    <result column="PayType" property="paytype" jdbcType="INTEGER" />
    <result column="OrderType" property="ordertype" jdbcType="INTEGER" />
    <result column="AgentUserId" property="agentuserid" jdbcType="BIGINT" />
    <result column="IsBranch" property="isbranch" jdbcType="INTEGER" />
    <result column="ExpressCom" property="expresscom" jdbcType="VARCHAR" />
    <result column="ExpressCode" property="expresscode" jdbcType="VARCHAR" />
    <result column="ExpressOrder" property="expressorder" jdbcType="VARCHAR" />
    <result column="Postage" property="postage" jdbcType="DECIMAL" />
    <result column="UploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="PostModelId" property="postmodelid" jdbcType="INTEGER" />
    <result column="DeliveryTime" property="deliverytime" jdbcType="TIMESTAMP" />
    <result column="ProducerUserId" property="produceruserid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
     UserOrderId, UserId, TotalPrice, Status, BranchUserId, OrderAddressId, PayId, Remark, 
    OrderTime, PayTime, OrderTotalPrice, PayType, AgentUserId, IsBranch, ExpressCom, 
    ExpressCode, ExpressOrder, OrderType, Postage, UploadTime, PostModelId, DeliveryTime,ProducerUserId
  </sql>
  <!-- 用户订单结果类Result -->
  <resultMap id="UserBuyerOrderResultMap" type="com.bbyiya.vo.order.UserBuyerOrderResult" extends="BaseResultMap">  
  </resultMap>  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where UserOrderId = #{userorderid,jdbcType=VARCHAR}
  </select>
  <select id="findOrderByStatus" resultMap="BaseResultMap"  ><!-- 01 根据UserId 获取用户的订单列表 -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where Status=#{status,jdbcType=INTEGER}  order by OrderTime desc
  </select>
  <select id="findOrderByUserId" resultMap="BaseResultMap"  ><!-- 01 根据UserId 获取用户的订单列表 -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where UserId = #{userId,jdbcType=BIGINT}  order by OrderTime desc
  </select>
  <select id="findLatelyOrderByUserId" resultMap="BaseResultMap"  ><!-- 01 根据UserId 获取用户最近的一条订单 -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where UserId = #{userId,jdbcType=BIGINT}  order by OrderTime desc limit 1
  </select>
  <select id="findUserOrderByUserId" resultMap="UserBuyerOrderResultMap"  ><!-- 01 根据UserId 获取用户的订单列表 -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where UserId = #{userId,jdbcType=BIGINT}  order by OrderTime desc
  </select>
  <select id="findUserOrderByUserIdAndTypes" resultMap="UserBuyerOrderResultMap"  ><!--  根据UserId ，orderTypes  获取用户的订单列表 -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where UserId = #{userId,jdbcType=BIGINT} 
	<if test="typeArrs != null" >
       and OrderType in <foreach collection="typeArrs" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </if>
    order by OrderTime desc
  </select>
  <select id="findOrdersByAgentUserId" resultMap="BaseResultMap"  ><!-- 02 获取待分配的订单 （代理） -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders
    where AgentUserId = #{agentUserId,jdbcType=BIGINT}  and Status=2  and IsBranch=0 order by PayTime desc
  </select>
  <select id="findOrdersByBranchUserId" resultMap="BaseResultMap"  ><!-- 03 获取本店的订单 （代理） -->
    select 
    a.*
    from o_userorders a left join o_orderaddress b on a.OrderAddressId=b.OrderAddressId 
    where a.BranchUserId = #{branchUserId,jdbcType=BIGINT} 
    <if test="ordertype != null" >
       and a.OrderType=#{ordertype,jdbcType=INTEGER}
    </if>
     <if test="status != null" >
       and a.Status=#{status,jdbcType=INTEGER}
    </if>
    <if test="keywords != null and keywords!=''" >
        and  (a.UserOrderId  LIKE  CONCAT('%', #{keywords,jdbcType=VARCHAR},'%' ) or b.Reciver  LIKE  CONCAT('%', #{keywords,jdbcType=VARCHAR},'%' ) or b.Phone LIKE  CONCAT('%', #{keywords,jdbcType=VARCHAR},'%' ) )
    </if>
    order by a.PayTime desc,a.OrderTime desc
  </select>
  <select id="findOrderListLasts" resultMap="BaseResultMap"  ><!-- 04 获取本店的订单 （代理） -->
    select 
    <include refid="Base_Column_List" />
    from o_userorders 
    where  Status=#{status,jdbcType=INTEGER} and OrderType in(0,1)  order by PayTime desc,OrderTime desc
  </select>
  
  <!-- 根据作品ID得到订单列表  -->
   <select id="findOrderListByCartId" resultMap="BaseResultMap"  >
    select a.* from o_userorders a,o_orderproducts b where a.UserOrderId=b.UserOrderId and b.CartId=#{cartid,jdbcType=BIGINT} and a.OrderType= #{ordertype,jdbcType=INTEGER}
  </select>
  <!-- 根据作品ID和影楼ID得到订单列表  -->
   <select id="findOrderListByCartIdAndBranchUserID" resultMap="BaseResultMap"  parameterType="java.lang.Long" >
    select a.* from o_userorders a,o_orderproducts b where a.UserOrderId=b.UserOrderId and b.CartId=#{cartid,jdbcType=BIGINT}  and a.UserId=#{branchuserid,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from o_userorders
    where UserOrderId = #{userorderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.OUserorders" >
    insert into o_userorders (UserOrderId, UserId, TotalPrice, 
      Status, BranchUserId, OrderAddressId, 
      PayId, Remark, OrderTime, 
      PayTime, OrderTotalPrice, PayType, 
      AgentUserId, IsBranch, ExpressCom, 
      ExpressCode, ExpressOrder, OrderType, 
      Postage, UploadTime, PostModelId, 
      DeliveryTime, ProducerUserId)
    values (#{userorderid,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, #{totalprice,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{branchuserid,jdbcType=BIGINT}, #{orderaddressid,jdbcType=BIGINT}, 
      #{payid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{paytime,jdbcType=TIMESTAMP}, #{ordertotalprice,jdbcType=DECIMAL}, #{paytype,jdbcType=INTEGER}, 
      #{agentuserid,jdbcType=BIGINT}, #{isbranch,jdbcType=INTEGER}, #{expresscom,jdbcType=VARCHAR}, 
      #{expresscode,jdbcType=VARCHAR}, #{expressorder,jdbcType=VARCHAR}, #{ordertype,jdbcType=INTEGER}, 
      #{postage,jdbcType=DECIMAL}, #{uploadtime,jdbcType=TIMESTAMP}, #{postmodelid,jdbcType=INTEGER}, 
      #{deliverytime,jdbcType=TIMESTAMP}, #{produceruserid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.OUserorders" >
    insert into o_userorders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userorderid != null" >
        UserOrderId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="totalprice != null" >
        TotalPrice,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="branchuserid != null" >
        BranchUserId,
      </if>
      <if test="orderaddressid != null" >
        OrderAddressId,
      </if>
      <if test="payid != null" >
        PayId,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="ordertime != null" >
        OrderTime,
      </if>
      <if test="paytime != null" >
        PayTime,
      </if>
      <if test="ordertotalprice != null" >
        OrderTotalPrice,
      </if>
      <if test="paytype != null" >
        PayType,
      </if>
      <if test="agentuserid != null" >
        AgentUserId,
      </if>
      <if test="isbranch != null" >
        IsBranch,
      </if>
      <if test="expresscom != null" >
        ExpressCom,
      </if>
      <if test="expresscode != null" >
        ExpressCode,
      </if>
      <if test="expressorder != null" >
        ExpressOrder,
      </if>
      <if test="ordertype != null" >
        OrderType,
      </if>
      <if test="postage != null" >
        Postage,
      </if>
      <if test="uploadtime != null" >
        UploadTime,
      </if>
      <if test="postmodelid != null" >
        PostModelId,
      </if>
      <if test="deliverytime != null" >
        DeliveryTime,
      </if>
      <if test="produceruserid != null" >
        ProducerUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userorderid != null" >
        #{userorderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="branchuserid != null" >
        #{branchuserid,jdbcType=BIGINT},
      </if>
      <if test="orderaddressid != null" >
        #{orderaddressid,jdbcType=BIGINT},
      </if>
      <if test="payid != null" >
        #{payid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertotalprice != null" >
        #{ordertotalprice,jdbcType=DECIMAL},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="agentuserid != null" >
        #{agentuserid,jdbcType=BIGINT},
      </if>
      <if test="isbranch != null" >
        #{isbranch,jdbcType=INTEGER},
      </if>
      <if test="expresscom != null" >
        #{expresscom,jdbcType=VARCHAR},
      </if>
      <if test="expresscode != null" >
        #{expresscode,jdbcType=VARCHAR},
      </if>
      <if test="expressorder != null" >
        #{expressorder,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        #{postage,jdbcType=DECIMAL},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="postmodelid != null" >
        #{postmodelid,jdbcType=INTEGER},
      </if>
      <if test="deliverytime != null" >
        #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="produceruserid != null" >
        #{produceruserid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.OUserorders" >
    update o_userorders
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null" >
        TotalPrice = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="branchuserid != null" >
        BranchUserId = #{branchuserid,jdbcType=BIGINT},
      </if>
      <if test="orderaddressid != null" >
        OrderAddressId = #{orderaddressid,jdbcType=BIGINT},
      </if>
      <if test="payid != null" >
        PayId = #{payid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        OrderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null" >
        PayTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertotalprice != null" >
        OrderTotalPrice = #{ordertotalprice,jdbcType=DECIMAL},
      </if>
      <if test="paytype != null" >
        PayType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="agentuserid != null" >
        AgentUserId = #{agentuserid,jdbcType=BIGINT},
      </if>
      <if test="isbranch != null" >
        IsBranch = #{isbranch,jdbcType=INTEGER},
      </if>
      <if test="expresscom != null" >
        ExpressCom = #{expresscom,jdbcType=VARCHAR},
      </if>
      <if test="expresscode != null" >
        ExpressCode = #{expresscode,jdbcType=VARCHAR},
      </if>
      <if test="expressorder != null" >
        ExpressOrder = #{expressorder,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null" >
        OrderType = #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        Postage = #{postage,jdbcType=DECIMAL},
      </if>
      <if test="uploadtime != null" >
        UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="postmodelid != null" >
        PostModelId = #{postmodelid,jdbcType=INTEGER},
      </if>
      <if test="deliverytime != null" >
        DeliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="produceruserid != null" >
        ProducerUserId = #{produceruserid,jdbcType=BIGINT},
      </if>
    </set>
    where UserOrderId = #{userorderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.OUserorders" >
    update o_userorders
    set UserId = #{userid,jdbcType=BIGINT},
      TotalPrice = #{totalprice,jdbcType=DECIMAL},
      Status = #{status,jdbcType=INTEGER},
      BranchUserId = #{branchuserid,jdbcType=BIGINT},
      OrderAddressId = #{orderaddressid,jdbcType=BIGINT},
      PayId = #{payid,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      OrderTime = #{ordertime,jdbcType=TIMESTAMP},
      PayTime = #{paytime,jdbcType=TIMESTAMP},
      OrderTotalPrice = #{ordertotalprice,jdbcType=DECIMAL},
      PayType = #{paytype,jdbcType=INTEGER},
      AgentUserId = #{agentuserid,jdbcType=BIGINT},
      IsBranch = #{isbranch,jdbcType=INTEGER},
      ExpressCom = #{expresscom,jdbcType=VARCHAR},
      ExpressCode = #{expresscode,jdbcType=VARCHAR},
      ExpressOrder = #{expressorder,jdbcType=VARCHAR},
      OrderType = #{ordertype,jdbcType=INTEGER},
      Postage = #{postage,jdbcType=DECIMAL},
      UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      PostModelId = #{postmodelid,jdbcType=INTEGER},
      DeliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      ProducerUserId = #{produceruserid,jdbcType=BIGINT}
    where UserOrderId = #{userorderid,jdbcType=VARCHAR}
  </update>
</mapper>