<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PMyproductcommentsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PMyproductcomments" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="CartId" property="cartid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="HeadImg" property="headimg" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="Relation" property="relation" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CartId, UserId, HeadImg, NickName, Relation, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_myproductcomments
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_myproductcomments
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PMyproductcomments" >
    insert into p_myproductcomments (Id, CartId, UserId, 
      HeadImg, NickName, Relation, 
      CreateTime)
    values (#{id,jdbcType=BIGINT}, #{cartid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{headimg,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PMyproductcomments" >
    insert into p_myproductcomments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="cartid != null" >
        CartId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="headimg != null" >
        HeadImg,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="relation != null" >
        Relation,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cartid != null" >
        #{cartid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PMyproductcomments" >
    update p_myproductcomments
    <set >
      <if test="cartid != null" >
        CartId = #{cartid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="headimg != null" >
        HeadImg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        Relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PMyproductcomments" >
    update p_myproductcomments
    set CartId = #{cartid,jdbcType=BIGINT},
      UserId = #{userid,jdbcType=BIGINT},
      HeadImg = #{headimg,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Relation = #{relation,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>