<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PMyproductchildinfoMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PMyproductchildinfo" >
    <id column="CartId" property="cartid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="Relation" property="relation" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CartId, UserId, Birthday, NickName, Relation, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_myproductchildinfo
    where CartId = #{cartid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_myproductchildinfo
    where CartId = #{cartid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PMyproductchildinfo" >
    insert into p_myproductchildinfo (CartId, UserId, Birthday, 
      NickName, Relation, CreateTime
      )
    values (#{cartid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{birthday,jdbcType=TIMESTAMP}, 
      #{nickname,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PMyproductchildinfo" >
    insert into p_myproductchildinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartid != null" >
        CartId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="relation != null" >
        Relation,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartid != null" >
        #{cartid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PMyproductchildinfo" >
    update p_myproductchildinfo
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        Relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CartId = #{cartid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PMyproductchildinfo" >
    update p_myproductchildinfo
    set UserId = #{userid,jdbcType=BIGINT},
      Birthday = #{birthday,jdbcType=TIMESTAMP},
      NickName = #{nickname,jdbcType=VARCHAR},
      Relation = #{relation,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where CartId = #{cartid,jdbcType=BIGINT}
  </update>
</mapper>