<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PMyproductsMapper" >
  <sql id="Base_Column_List" >
     CartId, UserId, Title, Author, ProductId, StyleId, CreateTime, Status, Phone, OrderNo, InviteStatus, UpdateTime
  </sql>
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PMyproducts" >
    <id column="CartId" property="cartid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Author" property="author" jdbcType="VARCHAR" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="StyleId" property="styleid" jdbcType="BIGINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="OrderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="InviteStatus" property="invitestatus" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 我的作品返回model -->
  <resultMap id="MyProductResultVO" type="com.bbyiya.vo.product.MyProductResultVo" extends="BaseResultMap">  
  </resultMap>  
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_myproducts
    where CartId = #{cartid,jdbcType=BIGINT}
  </select>
  <select id="getMyProductResultVo" resultMap="MyProductResultVO" parameterType="java.lang.Long" ><!-- 主键获取作品 -->
    select 
    <include refid="Base_Column_List" />
    from p_myproducts
    where CartId = #{cartid,jdbcType=BIGINT}
  </select>
  <select id="getMyProductByOrderNo" resultMap="BaseResultMap"  ><!-- 通过订单号获取作品 -->
    select 
    <include refid="Base_Column_List" />
    from p_myproducts
    where OrderNo = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="findMyProductslist" resultMap="MyProductResultVO" ><!-- 03 find 通过 UserId ，Status 获取作品列表 -->
    select <include refid="Base_Column_List" />
    from p_myproducts
    where UserId = #{userId,jdbcType=BIGINT} and Status=#{status,jdbcType=INTEGER} order by  CartId desc 
  </select>
  <select id="findMyProductslistForBranch" resultMap="MyProductResultVO" ><!-- 04 find 获取影楼分销人员的作品  -->
    select <include refid="Base_Column_List" />
    from p_myproducts 
    where UserId in
    <foreach collection="list" item="uid" index="index"
            open="(" close=")" separator=",">
            #{uid}
    </foreach>
    <if test="status != null" >
        and  Status=#{status,jdbcType=INTEGER}
    </if>
    <if test="invitestatus != null" >
        and  InviteStatus=#{invitestatus,jdbcType=INTEGER}
    </if>
    order by CreateTime desc 
  </select>
   <select id="getMyProductsByProductId" resultMap="BaseResultMap" ><!-- 05 get 通过 UserId ，ProductId, Status 获取作品 -->
    select <include refid="Base_Column_List" />
    from p_myproducts
    where UserId = #{userId,jdbcType=BIGINT} and ProductId=#{productId,jdbcType=BIGINT} and Status=#{status,jdbcType=INTEGER} order by  CartId desc 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_myproducts
    where CartId = #{cartid,jdbcType=BIGINT}
  </delete>
  <insert id="insertReturnId" useGeneratedKeys="true" keyProperty="cartid" parameterType="com.bbyiya.model.PMyproducts" >
    insert into p_myproducts (CartId, UserId, Title, 
      Author, ProductId, StyleId, 
      CreateTime, Status, Phone, 
      OrderNo, InviteStatus, UpdateTime
      )
    values (#{cartid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{productid,jdbcType=BIGINT}, #{styleid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=VARCHAR}, #{invitestatus,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
 <insert id="insert" parameterType="com.bbyiya.model.PMyproducts" >
    insert into p_myproducts (CartId, UserId, Title, 
      Author, ProductId, StyleId, 
      CreateTime, Status, Phone, 
      OrderNo, InviteStatus, UpdateTime
      )
    values (#{cartid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{productid,jdbcType=BIGINT}, #{styleid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=VARCHAR}, #{invitestatus,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PMyproducts" >
    insert into p_myproducts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartid != null" >
        CartId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="author != null" >
        Author,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="styleid != null" >
        StyleId,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="orderno != null" >
        OrderNo,
      </if>
      <if test="invitestatus != null" >
        InviteStatus,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartid != null" >
        #{cartid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="styleid != null" >
        #{styleid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="invitestatus != null" >
        #{invitestatus,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PMyproducts" >
    update p_myproducts
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        Author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="styleid != null" >
        StyleId = #{styleid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="invitestatus != null" >
        InviteStatus = #{invitestatus,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CartId = #{cartid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PMyproducts" >
    update p_myproducts
    set UserId = #{userid,jdbcType=BIGINT},
      Title = #{title,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      ProductId = #{productid,jdbcType=BIGINT},
      StyleId = #{styleid,jdbcType=BIGINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      Phone = #{phone,jdbcType=VARCHAR},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      InviteStatus = #{invitestatus,jdbcType=INTEGER},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where CartId = #{cartid,jdbcType=BIGINT}
  </update>
</mapper>