<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PProductdetailsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PProductdetails" >
    <id column="DetailId" property="detailid" jdbcType="BIGINT" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="Position" property="position" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="Image" property="image" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DetailId, ProductId, Position, Description, Image, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from P_ProductDetails
    where DetailId = #{detailid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from P_ProductDetails
    where DetailId = #{detailid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PProductdetails" >
    insert into P_ProductDetails (DetailId, ProductId, Position, 
      Description, Image, CreateTime
      )
    values (#{detailid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{position,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PProductdetails" >
    insert into P_ProductDetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        DetailId,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="position != null" >
        Position,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="image != null" >
        Image,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        #{detailid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PProductdetails" >
    update P_ProductDetails
    <set >
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        Position = #{position,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        Image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DetailId = #{detailid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PProductdetails" >
    update P_ProductDetails
    set ProductId = #{productid,jdbcType=BIGINT},
      Position = #{position,jdbcType=INTEGER},
      Description = #{description,jdbcType=VARCHAR},
      Image = #{image,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where DetailId = #{detailid,jdbcType=BIGINT}
  </update>
</mapper>