<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PProductstylesMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PProductstyles" >
    <id column="StyleId" property="styleid" jdbcType="BIGINT" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="DefaultImg" property="defaultimg" jdbcType="VARCHAR" />
    <result column="OldPrice" property="oldprice" jdbcType="DECIMAL" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="IsDefault" property="isdefault" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="PropertyStr" property="propertystr" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="AgentPrice" property="agentprice" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="StyleVOResultMap" type="com.bbyiya.vo.product.PProductStyleResult" >
    <id column="StyleId" property="styleId" jdbcType="BIGINT" />
    <result column="ProductId" property="productId" jdbcType="BIGINT" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="DefaultImg" property="defaultImg" jdbcType="VARCHAR" />
    <result column="PropertyStr" property="propertyStr" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
     StyleId, ProductId, UserId, DefaultImg, PropertyStr, OldPrice, Price, Status, IsDefault, 
    Description, CreateTime, UpdateTime, AgentPrice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_productstyles
    where StyleId = #{styleid,jdbcType=BIGINT}
  </select>
  <select id="findStylesByProductId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_productstyles
    where ProductId = #{productId,jdbcType=BIGINT}
  </select>
  <select id="findStylesResultByProductId" resultMap="StyleVOResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_productstyles
    where ProductId = #{productId,jdbcType=BIGINT} and Status=1
  </select>
  <!-- 根据查询条件获取款式列表 -->
  <select id="findProductStylesBySearchParam" resultMap="StyleVOResultMap" parameterType="com.bbyiya.vo.product.ProductSearchParam" >
    select 
    <include refid="Base_Column_List" />
    from p_productstyles
    where 1=1 
    <if test="status != null" >
        AND Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="propertystr != null and propertystr!='' " >
        AND PropertyStr = #{propertystr,jdbcType=VARCHAR}
    </if>
    <if test="productId != null and productId!=''" >
        AND ProductId = #{productId,jdbcType=VARCHAR}
    </if>
    <if test="styleid != null " >
        AND StyleId = #{styleid,jdbcType=VARCHAR}
    </if>
  </select>
  <!-- 全部重置该产品不为默认款 -->
  <update id="updateIsDefaultByProductId" parameterType="java.lang.Long" >
    update p_productstyles set IsDefault = 0  where ProductId = #{productId,jdbcType=BIGINT} 
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_productstyles
    where StyleId = #{styleid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PProductstyles" >
    insert into p_productstyles (StyleId, ProductId, UserId, 
      DefaultImg, PropertyStr, OldPrice, 
      Price, Status, IsDefault, 
      Description, CreateTime, UpdateTime, 
      AgentPrice)
    values (#{styleid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{defaultimg,jdbcType=VARCHAR}, #{propertystr,jdbcType=VARCHAR}, #{oldprice,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{isdefault,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{agentprice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PProductstyles" >
    insert into p_productstyles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        StyleId,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="defaultimg != null" >
        DefaultImg,
      </if>
      <if test="propertystr != null" >
        PropertyStr,
      </if>
      <if test="oldprice != null" >
        OldPrice,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="isdefault != null" >
        IsDefault,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="agentprice != null" >
        AgentPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        #{styleid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="defaultimg != null" >
        #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="propertystr != null" >
        #{propertystr,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null" >
        #{oldprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentprice != null" >
        #{agentprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PProductstyles" >
    update p_productstyles
    <set >
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="defaultimg != null" >
        DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="propertystr != null" >
        PropertyStr = #{propertystr,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null" >
        OldPrice = #{oldprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null" >
        IsDefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentprice != null" >
        AgentPrice = #{agentprice,jdbcType=DECIMAL},
      </if>
    </set>
    where StyleId = #{styleid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PProductstyles" >
    update p_productstyles
    set ProductId = #{productid,jdbcType=BIGINT},
      UserId = #{userid,jdbcType=BIGINT},
      DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      PropertyStr = #{propertystr,jdbcType=VARCHAR},
      OldPrice = #{oldprice,jdbcType=DECIMAL},
      Price = #{price,jdbcType=DECIMAL},
      Status = #{status,jdbcType=INTEGER},
      IsDefault = #{isdefault,jdbcType=INTEGER},
      Description = #{description,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      AgentPrice = #{agentprice,jdbcType=DECIMAL}
    where StyleId = #{styleid,jdbcType=BIGINT}
  </update>
</mapper>