<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PProductstylepropertyMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PProductstyleproperty" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="StyleId" property="styleid" jdbcType="BIGINT" />
    <result column="StandardId" property="standardid" jdbcType="BIGINT" />
    <result column="StandardValueId" property="standardvalueid" jdbcType="BIGINT" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="StyleResultMap" type="com.bbyiya.vo.product.StyleProperty" >
    <result column="StyleId" property="styleId" jdbcType="BIGINT" />
    <result column="StandardId" property="standardId" jdbcType="BIGINT" />
    <result column="StandardValueId" property="standardValueId" jdbcType="BIGINT" />
    <result column="ProductId" property="productId" jdbcType="BIGINT" />
    <result column="StandardName" property="standardName" jdbcType="VARCHAR" />
    <result column="StandardValue" property="standardValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, StyleId, StandardId, StandardValueId, ProductId
  </sql>
  <sql id="style_Column_list" >
    StyleId, StandardId, StandardValueId, ProductId,StandardName,StandardValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_productstyleproperty
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findPropertyByStyleId" resultMap="StyleResultMap" parameterType="java.lang.Long" ><!-- 获取款式属性列表 -->
    select  a.StyleId, a.StandardId, a.StandardValueId, a.ProductId,b.StandardName,c.StandardValue
    from p_productstyleproperty as a,P_Standards as b ,P_StandardValues as c 
    where StyleId=#{styleId,jdbcType=BIGINT} and a.StandardId=b.StandardId and a.StandardValueId=c.StandardValueId
   	order by a.StandardId asc
  </select>
  <select id="findStylePropertyByProductId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_productstyleproperty
    where ProductId = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_productstyleproperty
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PProductstyleproperty" >
    insert into p_productstyleproperty (Id, StyleId, StandardId, 
      StandardValueId, ProductId)
    values (#{id,jdbcType=BIGINT}, #{styleid,jdbcType=BIGINT}, #{standardid,jdbcType=BIGINT}, 
      #{standardvalueid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PProductstyleproperty" >
    insert into p_productstyleproperty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="styleid != null" >
        StyleId,
      </if>
      <if test="standardid != null" >
        StandardId,
      </if>
      <if test="standardvalueid != null" >
        StandardValueId,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="styleid != null" >
        #{styleid,jdbcType=BIGINT},
      </if>
      <if test="standardid != null" >
        #{standardid,jdbcType=BIGINT},
      </if>
      <if test="standardvalueid != null" >
        #{standardvalueid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PProductstyleproperty" >
    update p_productstyleproperty
    <set >
      <if test="styleid != null" >
        StyleId = #{styleid,jdbcType=BIGINT},
      </if>
      <if test="standardid != null" >
        StandardId = #{standardid,jdbcType=BIGINT},
      </if>
      <if test="standardvalueid != null" >
        StandardValueId = #{standardvalueid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PProductstyleproperty" >
    update p_productstyleproperty
    set StyleId = #{styleid,jdbcType=BIGINT},
      StandardId = #{standardid,jdbcType=BIGINT},
      StandardValueId = #{standardvalueid,jdbcType=BIGINT},
      ProductId = #{productid,jdbcType=BIGINT}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>