<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PProductsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PProducts" >
    <id column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="DefaultImg" property="defaultimg" jdbcType="VARCHAR" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="OldPrice" property="oldprice" jdbcType="DECIMAL" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="PostModelId" property="postmodelid" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ProductResultMap" type="com.bbyiya.vo.product.ProductResult" >
    <id column="ProductId" property="productId" jdbcType="BIGINT" />
    <result column="UserId" property="branchUserId" jdbcType="BIGINT" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ProductId, UserId, DefaultImg, Title, OldPrice, Price, Status, PostModelId, CreateTime, 
    UpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from P_Products
    where ProductId = #{productid,jdbcType=BIGINT}
  </select>
  <select id="findProductResultByBranchUserId" resultMap="ProductResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from P_Products
    where UserId = #{branchUserId,jdbcType=BIGINT} and Status=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from P_Products
    where ProductId = #{productid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PProducts" >
    insert into P_Products (ProductId, UserId, DefaultImg, 
      Title, OldPrice, Price, 
      Status, PostModelId, CreateTime, 
      UpdateTime)
    values (#{productid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{defaultimg,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{oldprice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{postmodelid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PProducts" >
    insert into P_Products
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="defaultimg != null" >
        DefaultImg,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="oldprice != null" >
        OldPrice,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="postmodelid != null" >
        PostModelId,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="defaultimg != null" >
        #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null" >
        #{oldprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="postmodelid != null" >
        #{postmodelid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PProducts" >
    update P_Products
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="defaultimg != null" >
        DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null" >
        OldPrice = #{oldprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="postmodelid != null" >
        PostModelId = #{postmodelid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ProductId = #{productid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PProducts" >
    update P_Products
    set UserId = #{userid,jdbcType=BIGINT},
      DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      OldPrice = #{oldprice,jdbcType=DECIMAL},
      Price = #{price,jdbcType=DECIMAL},
      Status = #{status,jdbcType=INTEGER},
      PostModelId = #{postmodelid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where ProductId = #{productid,jdbcType=BIGINT}
  </update>
</mapper>