<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PStandardsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PStandards" >
    <id column="StandardId" property="standardid" jdbcType="BIGINT" />
    <result column="StandardName" property="standardname" jdbcType="VARCHAR" />
    <result column="IsAuto" property="isauto" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    StandardId, StandardName, IsAuto, UserId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from P_Standards
    where StandardId = #{standardid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from P_Standards
    where StandardId = #{standardid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PStandards" >
    insert into P_Standards (StandardId, StandardName, IsAuto, 
      UserId)
    values (#{standardid,jdbcType=BIGINT}, #{standardname,jdbcType=VARCHAR}, #{isauto,jdbcType=INTEGER}, 
      #{userid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PStandards" >
    insert into P_Standards
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="standardid != null" >
        StandardId,
      </if>
      <if test="standardname != null" >
        StandardName,
      </if>
      <if test="isauto != null" >
        IsAuto,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="standardid != null" >
        #{standardid,jdbcType=BIGINT},
      </if>
      <if test="standardname != null" >
        #{standardname,jdbcType=VARCHAR},
      </if>
      <if test="isauto != null" >
        #{isauto,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PStandards" >
    update P_Standards
    <set >
      <if test="standardname != null" >
        StandardName = #{standardname,jdbcType=VARCHAR},
      </if>
      <if test="isauto != null" >
        IsAuto = #{isauto,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
    </set>
    where StandardId = #{standardid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PStandards" >
    update P_Standards
    set StandardName = #{standardname,jdbcType=VARCHAR},
      IsAuto = #{isauto,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=BIGINT}
    where StandardId = #{standardid,jdbcType=BIGINT}
  </update>
</mapper>