<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.SDailyreadsMapper">
	<resultMap id="BaseResultMap" type="com.bbyiya.model.SDailyreads">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="Title" property="title" jdbcType="VARCHAR" />
		<result column="Summary" property="summary" jdbcType="VARCHAR" />
		<result column="ForDay" property="forday" jdbcType="INTEGER" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="SourceType" property="sourcetype" jdbcType="INTEGER" />
		<result column="SourceUrl" property="sourceurl" jdbcType="VARCHAR" />
		<result column="Content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, Title, Summary, ForDay, CreateTime, UpdateTime,SourceType,SourceUrl, Content
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from s_dailyreads
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="findDailyReadslist" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from s_dailyreads
		where ForDay = #{forDay,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		s_dailyreads
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bbyiya.model.SDailyreads">
		insert into s_dailyreads (id, Title, Summary,
		ForDay, CreateTime, UpdateTime,
		SourceType, SourceUrl, Content
		)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{summary,jdbcType=VARCHAR},
		#{forday,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
		#{sourcetype,jdbcType=INTEGER}, #{sourceurl,jdbcType=VARCHAR},
		#{content,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.bbyiya.model.SDailyreads">
		insert into s_dailyreads
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				Title,
			</if>
			<if test="summary != null">
				Summary,
			</if>
			<if test="forday != null">
				ForDay,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="updatetime != null">
				UpdateTime,
			</if>
			<if test="sourcetype != null">
				SourceType,
			</if>
			<if test="sourceurl != null">
				SourceUrl,
			</if>
			<if test="content != null">
				Content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				#{summary,jdbcType=VARCHAR},
			</if>
			<if test="forday != null">
				#{forday,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="sourcetype != null">
				#{sourcetype,jdbcType=INTEGER},
			</if>
			<if test="sourceurl != null">
				#{sourceurl,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.SDailyreads">
		update s_dailyreads
		<set>
			<if test="title != null">
				Title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				Summary = #{summary,jdbcType=VARCHAR},
			</if>
			<if test="forday != null">
				ForDay = #{forday,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="sourcetype != null">
				SourceType = #{sourcetype,jdbcType=INTEGER},
			</if>
			<if test="sourceurl != null">
				SourceUrl = #{sourceurl,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bbyiya.model.SDailyreads">
		update s_dailyreads
		set Title = #{title,jdbcType=VARCHAR},
		Summary = #{summary,jdbcType=VARCHAR},
		ForDay = #{forday,jdbcType=INTEGER},
		CreateTime = #{createtime,jdbcType=TIMESTAMP},
		UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
		SourceType = #{sourcetype,jdbcType=INTEGER},
		SourceUrl = #{sourceurl,jdbcType=VARCHAR},
		Content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bbyiya.model.SDailyreads">
		update s_dailyreads
		set Title = #{title,jdbcType=VARCHAR},
		Summary = #{summary,jdbcType=VARCHAR},
		ForDay = #{forday,jdbcType=INTEGER},
		CreateTime = #{createtime,jdbcType=TIMESTAMP},
		UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
		SourceType = #{sourcetype,jdbcType=INTEGER},
		SourceUrl = #{sourceurl,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>