<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.SMusicrecommendMapper">
	<resultMap id="BaseResultMap" type="com.bbyiya.model.SMusicrecommend">
		<id column="ReId" property="reid" jdbcType="INTEGER" />
		<result column="MusicId" property="musicid" jdbcType="INTEGER" />
		<result column="LinkUrl" property="linkurl" jdbcType="VARCHAR" />
		<result column="ForDay" property="forday" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="Author" property="author" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="Duration" property="duration" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ReId, MusicId, LinkUrl, ForDay, Name, Author, CreateTime, Duration
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from S_MusicRecommend
		where ReId = #{reid,jdbcType=INTEGER}
	</select>
	<select id="findSMusicrecommendByDay" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from S_MusicRecommend
		where ForDay = #{day,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		S_MusicRecommend
		where ReId = #{reid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bbyiya.model.SMusicrecommend">
		insert into S_MusicRecommend (ReId, MusicId, LinkUrl,
		ForDay, Name, Author,
		CreateTime, Duration)
		values (#{reid,jdbcType=INTEGER}, #{musicid,jdbcType=INTEGER},
		#{linkurl,jdbcType=VARCHAR},
		#{forday,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{duration,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.bbyiya.model.SMusicrecommend">
		insert into S_MusicRecommend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="reid != null">
				ReId,
			</if>
			<if test="musicid != null">
				MusicId,
			</if>
			<if test="linkurl != null">
				LinkUrl,
			</if>
			<if test="forday != null">
				ForDay,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="author != null">
				Author,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="duration != null">
				Duration,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="reid != null">
				#{reid,jdbcType=INTEGER},
			</if>
			<if test="musicid != null">
				#{musicid,jdbcType=INTEGER},
			</if>
			<if test="linkurl != null">
				#{linkurl,jdbcType=VARCHAR},
			</if>
			<if test="forday != null">
				#{forday,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="duration != null">
				#{duration,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.SMusicrecommend">
		update S_MusicRecommend
		<set>
			<if test="musicid != null">
				MusicId = #{musicid,jdbcType=INTEGER},
			</if>
			<if test="linkurl != null">
				LinkUrl = #{linkurl,jdbcType=VARCHAR},
			</if>
			<if test="forday != null">
				ForDay = #{forday,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				Author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="duration != null">
				Duration = #{duration,jdbcType=VARCHAR},
			</if>
		</set>
		where ReId = #{reid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bbyiya.model.SMusicrecommend">
		update S_MusicRecommend
		set MusicId = #{musicid,jdbcType=INTEGER},
		LinkUrl = #{linkurl,jdbcType=VARCHAR},
		ForDay = #{forday,jdbcType=INTEGER},
		Name = #{name,jdbcType=VARCHAR},
		Author = #{author,jdbcType=VARCHAR},
		CreateTime = #{createtime,jdbcType=TIMESTAMP},
		Duration = #{duration,jdbcType=VARCHAR}
		where ReId = #{reid,jdbcType=INTEGER}
	</update>
</mapper>