<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.SMusicsMapper">
	<resultMap id="BaseResultMap" type="com.bbyiya.model.SMusics">
		<id column="MusicId" property="musicid" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="DownloadUrl" property="downloadurl" jdbcType="VARCHAR" />
		<result column="ImageUrl" property="imageurl" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="MusicType" property="musictype" jdbcType="INTEGER" />
		<result column="Duration" property="duration" jdbcType="VARCHAR" />
		<result column="Author" property="author" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="MusicResult" type="com.bbyiya.vo.music.MusicResult">
		<id column="MusicId" property="musicId" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="DownloadUrl" property="linkUrl" jdbcType="VARCHAR" />
		<result column="ImageUrl" property="defaultImg" jdbcType="VARCHAR" />
		<result column="Duration" property="duration" jdbcType="VARCHAR" />
		<result column="Author" property="author" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		MusicId, Name, DownloadUrl, ImageUrl, CreateTime,
		MusicType, Duration,Author
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from s_musics
		where MusicId = #{musicid,jdbcType=INTEGER}
	</select>
	<select id="findMusiclistByTypeId" resultMap="MusicResult"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from s_musics
		where MusicType = #{typeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		s_musics
		where MusicId = #{musicid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bbyiya.model.SMusics">
		insert into s_musics (MusicId, Name, DownloadUrl,
		ImageUrl, CreateTime, MusicType,
		Duration, Author)
		values (#{musicid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{downloadurl,jdbcType=VARCHAR},
		#{imageurl,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{musictype,jdbcType=INTEGER},
		#{duration,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.bbyiya.model.SMusics">
		insert into s_musics
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="musicid != null">
				MusicId,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="downloadurl != null">
				DownloadUrl,
			</if>
			<if test="imageurl != null">
				ImageUrl,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="musictype != null">
				MusicType,
			</if>
			<if test="duration != null">
				Duration,
			</if>
			<if test="author != null">
				Author,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="musicid != null">
				#{musicid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="downloadurl != null">
				#{downloadurl,jdbcType=VARCHAR},
			</if>
			<if test="imageurl != null">
				#{imageurl,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="musictype != null">
				#{musictype,jdbcType=INTEGER},
			</if>
			<if test="duration != null">
				#{duration,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.SMusics">
		update s_musics
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="downloadurl != null">
				DownloadUrl = #{downloadurl,jdbcType=VARCHAR},
			</if>
			<if test="imageurl != null">
				ImageUrl = #{imageurl,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="musictype != null">
				MusicType = #{musictype,jdbcType=INTEGER},
			</if>
			<if test="duration != null">
				Duration = #{duration,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				Author = #{author,jdbcType=VARCHAR},
			</if>
		</set>
		where MusicId = #{musicid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bbyiya.model.SMusics">
		update s_musics
		set Name = #{name,jdbcType=VARCHAR},
		DownloadUrl = #{downloadurl,jdbcType=VARCHAR},
		ImageUrl = #{imageurl,jdbcType=VARCHAR},
		CreateTime = #{createtime,jdbcType=TIMESTAMP},
		MusicType = #{musictype,jdbcType=INTEGER},
		Duration = #{duration,jdbcType=VARCHAR},
		Author = #{author,jdbcType=VARCHAR}
		where MusicId = #{musicid,jdbcType=INTEGER}
	</update>
</mapper>