<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiActivityworksMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiActivityworks" >
    <id column="WorkId" property="workid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="ActId" property="actid" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="ExtCount" property="extcount" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="AddressType" property="addresstype" jdbcType="INTEGER" />
    <result column="Reciever" property="reciever" jdbcType="VARCHAR" />
    <result column="Mobiephone" property="mobiephone" jdbcType="VARCHAR" />
    <result column="OrderAddressId" property="orderaddressid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    WorkId, UserId, ActId, Status, ExtCount, CreateTime, AddressType, Reciever, Mobiephone, 
    OrderAddressId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_activityworks
    where WorkId = #{workid,jdbcType=BIGINT}
  </select>
  
   <!-- 根据活动ID及状态得到各状态的总数 -->
  <select id="getCountByActStatus" resultType="java.lang.Integer"  parameterType="java.lang.Integer" >
    select count(WorkId) from ti_activityworks where ActId = #{actid,jdbcType=INTEGER} and Status=#{status,jdbcType=INTEGER}
  </select>
  
  <resultMap id="TiActivityworksVOResult" type="com.bbyiya.vo.calendar.TiActivitysWorkVo" extends="BaseResultMap">  
  </resultMap> 
   <!-- 根据活动ID得到活动参与情况列表 -->
  <select id="findActWorkListByActId" resultMap="TiActivityworksVOResult"  >
    select 
    <include refid="Base_Column_List" />
    from ti_activityworks
    where ActId = #{actid,jdbcType=BIGINT}
    <if test="status != null" >
       and  Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="keywords != null and keywords!=''" > 
       and  (Mobiephone=#{keywords,jdbcType=VARCHAR} OR Reciever LIKE  CONCAT('%', #{keywords,jdbcType=VARCHAR},'%' ))
    </if>
    order by CreateTime desc
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_activityworks
    where WorkId = #{workid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiActivityworks" >
    insert into ti_activityworks (WorkId, UserId, ActId, 
      Status, ExtCount, CreateTime, 
      AddressType, Reciever, Mobiephone, 
      OrderAddressId)
    values (#{workid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{actid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{extcount,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{addresstype,jdbcType=INTEGER}, #{reciever,jdbcType=VARCHAR}, #{mobiephone,jdbcType=VARCHAR}, 
      #{orderaddressid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiActivityworks" >
    insert into ti_activityworks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workid != null" >
        WorkId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="actid != null" >
        ActId,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="extcount != null" >
        ExtCount,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="addresstype != null" >
        AddressType,
      </if>
      <if test="reciever != null" >
        Reciever,
      </if>
      <if test="mobiephone != null" >
        Mobiephone,
      </if>
      <if test="orderaddressid != null" >
        OrderAddressId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workid != null" >
        #{workid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="actid != null" >
        #{actid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="extcount != null" >
        #{extcount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addresstype != null" >
        #{addresstype,jdbcType=INTEGER},
      </if>
      <if test="reciever != null" >
        #{reciever,jdbcType=VARCHAR},
      </if>
      <if test="mobiephone != null" >
        #{mobiephone,jdbcType=VARCHAR},
      </if>
      <if test="orderaddressid != null" >
        #{orderaddressid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiActivityworks" >
    update ti_activityworks
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="actid != null" >
        ActId = #{actid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="extcount != null" >
        ExtCount = #{extcount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addresstype != null" >
        AddressType = #{addresstype,jdbcType=INTEGER},
      </if>
      <if test="reciever != null" >
        Reciever = #{reciever,jdbcType=VARCHAR},
      </if>
      <if test="mobiephone != null" >
        Mobiephone = #{mobiephone,jdbcType=VARCHAR},
      </if>
      <if test="orderaddressid != null" >
        OrderAddressId = #{orderaddressid,jdbcType=BIGINT},
      </if>
    </set>
    where WorkId = #{workid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiActivityworks" >
    update ti_activityworks
    set UserId = #{userid,jdbcType=BIGINT},
      ActId = #{actid,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      ExtCount = #{extcount,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      AddressType = #{addresstype,jdbcType=INTEGER},
      Reciever = #{reciever,jdbcType=VARCHAR},
      Mobiephone = #{mobiephone,jdbcType=VARCHAR},
      OrderAddressId = #{orderaddressid,jdbcType=BIGINT}
    where WorkId = #{workid,jdbcType=BIGINT}
  </update>
</mapper>