<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiAdvertimgsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiAdvertimgs" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="PromoterUserId" property="promoteruserid" jdbcType="BIGINT" />
    <result column="AdvertImgJson" property="advertimgjson" jdbcType="VARCHAR" />
    <result column="AdvertContent" property="advertcontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ProductId, PromoterUserId, AdvertImgJson, AdvertContent
  </sql>
  <select id="getAdvertByProductIdAndPromoterId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_advertimgs
    where ProductId = #{productid,jdbcType=BIGINT} and PromoterUserId=#{promoterid,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_advertimgs
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_advertimgs
    where Id = #{id,jdbcType=BIGINT}
  </delete>
   <insert id="insert" parameterType="com.bbyiya.model.TiAdvertimgs" >
    insert into ti_advertimgs (Id, ProductId, PromoterUserId, 
      AdvertImgJson, AdvertContent)
    values (#{id,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{promoteruserid,jdbcType=BIGINT}, 
      #{advertimgjson,jdbcType=VARCHAR}, #{advertcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiAdvertimgs" >
    insert into ti_advertimgs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="promoteruserid != null" >
        PromoterUserId,
      </if>
      <if test="advertimgjson != null" >
        AdvertImgJson,
      </if>
      <if test="advertcontent != null" >
        AdvertContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="promoteruserid != null" >
        #{promoteruserid,jdbcType=BIGINT},
      </if>
      <if test="advertimgjson != null" >
        #{advertimgjson,jdbcType=VARCHAR},
      </if>
      <if test="advertcontent != null" >
        #{advertcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiAdvertimgs" >
    update ti_advertimgs
    <set >
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="promoteruserid != null" >
        PromoterUserId = #{promoteruserid,jdbcType=BIGINT},
      </if>
      <if test="advertimgjson != null" >
        AdvertImgJson = #{advertimgjson,jdbcType=VARCHAR},
      </if>
      <if test="advertcontent != null" >
        AdvertContent = #{advertcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiAdvertimgs" >
    update ti_advertimgs
    set ProductId = #{productid,jdbcType=BIGINT},
      PromoterUserId = #{promoteruserid,jdbcType=BIGINT},
      AdvertImgJson = #{advertimgjson,jdbcType=VARCHAR},
      AdvertContent = #{advertcontent,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>