<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiAgentsapplyMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiAgentsapply" >
    <id column="AgentUserId" property="agentuserid" jdbcType="BIGINT" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="Contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="Mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="ProcessTime" property="processtime" jdbcType="TIMESTAMP" />
    <result column="Reason" property="reason" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="Province" property="province" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="INTEGER" />
    <result column="Area" property="area" jdbcType="INTEGER" />
    <result column="StreetDetail" property="streetdetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AgentUserId, CompanyName, Contacts, Mobilephone, Status, CreateTime, ProcessTime, 
    Reason, Remark, Province, City, Area, StreetDetail
  </sql>
  
   <!-- 代理商申请信息Model-->
  <resultMap id="TiAgentapplyVOResult" type="com.bbyiya.vo.calendar.TiAgentApplyVo" extends="BaseResultMap">  
  </resultMap>  
  
  <!-- 通过代理userId获取代理申请model -->
  <select id="getUAgentapplyVOByAgentUserId" resultMap="TiAgentapplyVOResult" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_agentsapply
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </select>
  
  <!-- 获取申请列表 -->
  <select id="findTiAgentapplyVOList" resultMap="TiAgentapplyVOResult" parameterType="com.bbyiya.vo.calendar.TiAgentSearchParam" >
    select 
    <include refid="Base_Column_List" />
    from ti_agentsapply
    where 1=1
    <if test="userId != null" >
        and  AgentUserId = #{userId,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
       and  Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="companyName != null" > 
       and  (AgentUserId=#{companyName,jdbcType=VARCHAR} 
       OR CompanyName LIKE  CONCAT('%', #{companyName,jdbcType=VARCHAR},'%' ) 
       OR  Contacts LIKE  CONCAT('%', #{companyName,jdbcType=VARCHAR},'%' )  
       OR  Mobilephone LIKE  CONCAT('%', #{companyName,jdbcType=VARCHAR},'%' ))
    </if>
    order by CreateTime desc
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_agentsapply
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_agentsapply
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiAgentsapply" >
    insert into ti_agentsapply (AgentUserId, CompanyName, Contacts, 
      Mobilephone, Status, CreateTime, 
      ProcessTime, Reason, Remark, 
      Province, City, Area, 
      StreetDetail)
    values (#{agentuserid,jdbcType=BIGINT}, #{companyname,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{processtime,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, #{area,jdbcType=INTEGER}, 
      #{streetdetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiAgentsapply" >
    insert into ti_agentsapply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentuserid != null" >
        AgentUserId,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="contacts != null" >
        Contacts,
      </if>
      <if test="mobilephone != null" >
        Mobilephone,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="processtime != null" >
        ProcessTime,
      </if>
      <if test="reason != null" >
        Reason,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="province != null" >
        Province,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="area != null" >
        Area,
      </if>
      <if test="streetdetail != null" >
        StreetDetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentuserid != null" >
        #{agentuserid,jdbcType=BIGINT},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="processtime != null" >
        #{processtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        #{streetdetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiAgentsapply" >
    update ti_agentsapply
    <set >
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        Contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        Mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="processtime != null" >
        ProcessTime = #{processtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        Reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        Province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        Area = #{area,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      </if>
    </set>
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiAgentsapply" >
    update ti_agentsapply
    set CompanyName = #{companyname,jdbcType=VARCHAR},
      Contacts = #{contacts,jdbcType=VARCHAR},
      Mobilephone = #{mobilephone,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ProcessTime = #{processtime,jdbcType=TIMESTAMP},
      Reason = #{reason,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      Province = #{province,jdbcType=INTEGER},
      City = #{city,jdbcType=INTEGER},
      Area = #{area,jdbcType=INTEGER},
      StreetDetail = #{streetdetail,jdbcType=VARCHAR}
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </update>
</mapper>