<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiAgentsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiAgents" >
    <id column="AgentUserId" property="agentuserid" jdbcType="BIGINT" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="Contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="MobilePhone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="ExpireTime" property="expiretime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    AgentUserId, CompanyName, Contacts, MobilePhone, Status, ExpireTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_agents
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_agents
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiAgents" >
    insert into ti_agents (AgentUserId, CompanyName, Contacts, 
      MobilePhone, Status, ExpireTime
      )
    values (#{agentuserid,jdbcType=BIGINT}, #{companyname,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{expiretime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiAgents" >
    insert into ti_agents
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentuserid != null" >
        AgentUserId,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="contacts != null" >
        Contacts,
      </if>
      <if test="mobilephone != null" >
        MobilePhone,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="expiretime != null" >
        ExpireTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentuserid != null" >
        #{agentuserid,jdbcType=BIGINT},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expiretime != null" >
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiAgents" >
    update ti_agents
    <set >
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        Contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        MobilePhone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="expiretime != null" >
        ExpireTime = #{expiretime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiAgents" >
    update ti_agents
    set CompanyName = #{companyname,jdbcType=VARCHAR},
      Contacts = #{contacts,jdbcType=VARCHAR},
      MobilePhone = #{mobilephone,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      ExpireTime = #{expiretime,jdbcType=TIMESTAMP}
    where AgentUserId = #{agentuserid,jdbcType=BIGINT}
  </update>
</mapper>