<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiDiscountmodelMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiDiscountmodel" >
    <id column="DiscountId" property="discountid" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DiscountId, Title, Type, Status, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ti_discountmodel
    where DiscountId = #{discountid,jdbcType=INTEGER}
  </select>
  <select id="findDiscountList" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from ti_discountmodel 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ti_discountmodel
    where DiscountId = #{discountid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiDiscountmodel" >
    insert into ti_discountmodel (DiscountId, Title, Type, 
      Status, CreateTime)
    values (#{discountid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiDiscountmodel" >
    insert into ti_discountmodel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="discountid != null" >
        DiscountId,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="discountid != null" >
        #{discountid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiDiscountmodel" >
    update ti_discountmodel
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DiscountId = #{discountid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiDiscountmodel" >
    update ti_discountmodel
    set Title = #{title,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where DiscountId = #{discountid,jdbcType=INTEGER}
  </update>
</mapper>