<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiProductstylesMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiProductstyles" >
    <id column="StyleId" property="styleid" jdbcType="BIGINT" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="Price" property="price" jdbcType="DOUBLE" />
    <result column="PromoterPrice" property="promoterprice" jdbcType="DOUBLE" />
    <result column="ImgCount" property="imgcount" jdbcType="INTEGER" />
    <result column="ProductType" property="producttype" jdbcType="INTEGER" />
    <result column="DefaultImg" property="defaultimg" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="ImgJson" property="imgjson" jdbcType="VARCHAR" />
    <result column="Width" property="width" jdbcType="DOUBLE" />
    <result column="Hight" property="hight" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    StyleId, ProductId, Price, PromoterPrice, ImgCount, ProductType, DefaultImg, Status, 
    Description, ImgJson, Width, Hight
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_productstyles
    where StyleId = #{styleid,jdbcType=BIGINT}
  </select>
  <select id="findStylelistByProductId" resultMap="BaseResultMap" ><!-- 01 获取款式列表 -->
    select 
    <include refid="Base_Column_List" />
    from ti_productstyles
    where  Status=1 and ProductId = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_productstyles
    where StyleId = #{styleid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiProductstyles" >
    insert into ti_productstyles (StyleId, ProductId, Price, 
      PromoterPrice, ImgCount, ProductType, 
      DefaultImg, Status, Description, 
      ImgJson, Width, Hight
      )
    values (#{styleid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{price,jdbcType=DOUBLE}, 
      #{promoterprice,jdbcType=DOUBLE}, #{imgcount,jdbcType=INTEGER}, #{producttype,jdbcType=INTEGER}, 
      #{defaultimg,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{imgjson,jdbcType=VARCHAR}, #{width,jdbcType=DOUBLE}, #{hight,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiProductstyles" >
    insert into ti_productstyles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        StyleId,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="promoterprice != null" >
        PromoterPrice,
      </if>
      <if test="imgcount != null" >
        ImgCount,
      </if>
      <if test="producttype != null" >
        ProductType,
      </if>
      <if test="defaultimg != null" >
        DefaultImg,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="imgjson != null" >
        ImgJson,
      </if>
      <if test="width != null" >
        Width,
      </if>
      <if test="hight != null" >
        Hight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        #{styleid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="promoterprice != null" >
        #{promoterprice,jdbcType=DOUBLE},
      </if>
      <if test="imgcount != null" >
        #{imgcount,jdbcType=INTEGER},
      </if>
      <if test="producttype != null" >
        #{producttype,jdbcType=INTEGER},
      </if>
      <if test="defaultimg != null" >
        #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgjson != null" >
        #{imgjson,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=DOUBLE},
      </if>
      <if test="hight != null" >
        #{hight,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiProductstyles" >
    update ti_productstyles
    <set >
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="promoterprice != null" >
        PromoterPrice = #{promoterprice,jdbcType=DOUBLE},
      </if>
      <if test="imgcount != null" >
        ImgCount = #{imgcount,jdbcType=INTEGER},
      </if>
      <if test="producttype != null" >
        ProductType = #{producttype,jdbcType=INTEGER},
      </if>
      <if test="defaultimg != null" >
        DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgjson != null" >
        ImgJson = #{imgjson,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        Width = #{width,jdbcType=DOUBLE},
      </if>
      <if test="hight != null" >
        Hight = #{hight,jdbcType=DOUBLE},
      </if>
    </set>
    where StyleId = #{styleid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiProductstyles" >
    update ti_productstyles
    set ProductId = #{productid,jdbcType=BIGINT},
      Price = #{price,jdbcType=DOUBLE},
      PromoterPrice = #{promoterprice,jdbcType=DOUBLE},
      ImgCount = #{imgcount,jdbcType=INTEGER},
      ProductType = #{producttype,jdbcType=INTEGER},
      DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      Description = #{description,jdbcType=VARCHAR},
      ImgJson = #{imgjson,jdbcType=VARCHAR},
      Width = #{width,jdbcType=DOUBLE},
      Hight = #{hight,jdbcType=DOUBLE}
    where StyleId = #{styleid,jdbcType=BIGINT}
  </update>
</mapper>