<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiProductsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiProducts" >
    <id column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Price" property="price" jdbcType="DOUBLE" />
    <result column="DefaultImg" property="defaultimg" jdbcType="VARCHAR" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ProductId, Status, Price, DefaultImg, Title, CreateTime, UpdateTime,Description 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_products
    where ProductId = #{productid,jdbcType=BIGINT}
  </select>
  <select id="findProductlist" resultMap="BaseResultMap"  ><!-- 台历、挂历、年历 产品列表 -->
    select 
    <include refid="Base_Column_List" />
    from ti_products
    where Status = 1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_products
    where ProductId = #{productid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiProducts" >
    insert into ti_products (ProductId, Status, Price, 
      DefaultImg, Title, CreateTime, 
      UpdateTime, Description)
    values (#{productid,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, 
      #{defaultimg,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiProducts" >
    insert into ti_products
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="defaultimg != null" >
        DefaultImg,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="description != null" >
        Description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="defaultimg != null" >
        #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiProducts" >
    update ti_products
    <set >
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="defaultimg != null" >
        DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ProductId = #{productid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiProducts" >
    update ti_products
    set Status = #{status,jdbcType=INTEGER},
      Price = #{price,jdbcType=DOUBLE},
      DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      Description = #{description,jdbcType=VARCHAR}
    where ProductId = #{productid,jdbcType=BIGINT}
  </update>
</mapper>