<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.TiPromoteradvertcoustomerMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.TiPromoteradvertcoustomer" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="AdvertId" property="advertid" jdbcType="INTEGER" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Province" property="province" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="INTEGER" />
    <result column="District" property="district" jdbcType="INTEGER" />
    <result column="StreetDetail" property="streetdetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, Mobilephone, AdvertId, Address, Status, CreateTime, Province, City, District, 
    StreetDetail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ti_promoteradvertcoustomer
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ti_promoteradvertcoustomer
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.TiPromoteradvertcoustomer" >
    insert into ti_promoteradvertcoustomer (Id, Name, Mobilephone, 
      AdvertId, Address, Status, 
      CreateTime, Province, City, 
      District, StreetDetail)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{advertid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, 
      #{district,jdbcType=INTEGER}, #{streetdetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.TiPromoteradvertcoustomer" >
    insert into ti_promoteradvertcoustomer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="mobilephone != null" >
        Mobilephone,
      </if>
      <if test="advertid != null" >
        AdvertId,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="province != null" >
        Province,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="district != null" >
        District,
      </if>
      <if test="streetdetail != null" >
        StreetDetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="advertid != null" >
        #{advertid,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        #{streetdetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.TiPromoteradvertcoustomer" >
    update ti_promoteradvertcoustomer
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        Mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="advertid != null" >
        AdvertId = #{advertid,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        Province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        District = #{district,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.TiPromoteradvertcoustomer" >
    update ti_promoteradvertcoustomer
    set Name = #{name,jdbcType=VARCHAR},
      Mobilephone = #{mobilephone,jdbcType=VARCHAR},
      AdvertId = #{advertid,jdbcType=INTEGER},
      Address = #{address,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Province = #{province,jdbcType=INTEGER},
      City = #{city,jdbcType=INTEGER},
      District = #{district,jdbcType=INTEGER},
      StreetDetail = #{streetdetail,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>