<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UAccountsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UAccounts" >
    <id column="UserID" property="userid" jdbcType="BIGINT" />
    <result column="AvailableAmount" property="availableamount" jdbcType="DOUBLE" />
    <result column="FreezeCashAmount" property="freezecashamount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserID, AvailableAmount,FreezeCashAmount
  </sql>
  
  <!-- 需要短信通知充值的用户Model-->
  <resultMap id="SmsRemindUserVOResult" type="com.bbyiya.vo.user.SmsRemindUserVo" extends="BaseResultMap">  
  </resultMap> 
  <!-- 得到需要通知的用户列表 -->
  <select id="findSmsRemindUserList" resultMap="SmsRemindUserVOResult" parameterType="java.lang.Double" >
    select b.userId from ti_promoters a,u_accounts b 
    where a.promoterUserId=b.userId and b.availableAmount &lt;= #{amount,jdbcType=DOUBLE}
    UNION ALL
	select b.userId from u_branches a,u_accounts b where a.branchUserId=b.userId  
	and b.availableAmount&lt;= #{amount,jdbcType=DOUBLE}
  </select> 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_accounts
    where UserID = #{userid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_accounts
    where UserID = #{userid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UAccounts" >
    insert into u_accounts (UserID, AvailableAmount, FreezeCashAmount
      )
    values (#{userid,jdbcType=BIGINT}, #{availableamount,jdbcType=DOUBLE}, #{freezecashamount,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UAccounts" >
    insert into u_accounts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserID,
      </if>
      <if test="availableamount != null" >
        AvailableAmount,
      </if>
      <if test="freezecashamount != null" >
        FreezeCashAmount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="availableamount != null" >
        #{availableamount,jdbcType=DOUBLE},
      </if>
      <if test="freezecashamount != null" >
        #{freezecashamount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UAccounts" >
    update u_accounts
    <set >
      <if test="availableamount != null" >
        AvailableAmount = #{availableamount,jdbcType=DOUBLE},
      </if>
      <if test="freezecashamount != null" >
        FreezeCashAmount = #{freezecashamount,jdbcType=DOUBLE},
      </if>
    </set>
    where UserID = #{userid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UAccounts" >
    update u_accounts
    set AvailableAmount = #{availableamount,jdbcType=DOUBLE},
      FreezeCashAmount = #{freezecashamount,jdbcType=DOUBLE}
    where UserID = #{userid,jdbcType=BIGINT}
  </update>
</mapper>