<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UOtherloginMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UOtherlogin" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="OpenId" property="openid" jdbcType="VARCHAR" />
    <result column="LoginType" property="logintype" jdbcType="INTEGER" />
    <result column="Image" property="image" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UserId, OpenId, LoginType, Image, NickName, CreateTime, Status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_otherlogin
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_otherlogin
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UOtherlogin" >
    insert into u_otherlogin (Id, UserId, OpenId, 
      LoginType, Image, NickName, 
      CreateTime, Status)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, 
      #{logintype,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UOtherlogin" >
    insert into u_otherlogin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="openid != null" >
        OpenId,
      </if>
      <if test="logintype != null" >
        LoginType,
      </if>
      <if test="image != null" >
        Image,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null" >
        #{logintype,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UOtherlogin" >
    update u_otherlogin
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        OpenId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null" >
        LoginType = #{logintype,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        Image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UOtherlogin" >
    update u_otherlogin
    set UserId = #{userid,jdbcType=BIGINT},
      OpenId = #{openid,jdbcType=VARCHAR},
      LoginType = #{logintype,jdbcType=INTEGER},
      Image = #{image,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>