<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UUsersMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UUsers" >
    <id column="UserID" property="userid" jdbcType="BIGINT" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="MobilePhone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="MobileBind" property="mobilebind" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Identity" property="identity" jdbcType="BIGINT" />
    <result column="UserImg" property="userimg" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Sign" property="sign" jdbcType="VARCHAR" />
    <result column="Birthday" property="birthday" jdbcType="DATE" />
    <result column="UpUserId" property="upuserid" jdbcType="BIGINT" />
    <result column="SourseUserId" property="sourseuserid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserID, PassWord, MobilePhone, MobileBind, Status, Identity, UserImg, NickName, Email, 
    CreateTime, Sign, Birthday, UpUserId, SourseUserId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_users
    where UserID = #{userid,jdbcType=BIGINT}
  </select>
  <select id="getUUsersByUserID" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_users
    where UserID = #{userid,jdbcType=BIGINT}
  </select>
   <select id="getUUsersByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from u_users
    where UserName = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="getUUsersByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from u_users
    where MobilePhone = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="findUUsersByUpUserid" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from u_users
    where UpUserId = #{upid,jdbcType=BIGINT}
    <if test="startTime != null " >
      and date(CreateTime) &gt;= date(#{startTime,jdbcType=TIMESTAMP})  
    </if>
    <if test="endTime != null" >
      and date(CreateTime) &lt;= date(#{endTime,jdbcType=TIMESTAMP})    
    </if>
    order by CreateTime desc
  </select>
  
   <select id="findUUsersBySourceUserId" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from u_users
    where SourseUserId = #{sourceuserid,jdbcType=BIGINT}
    <if test="startTime != null " >
      and date(CreateTime) &gt;= date(#{startTime,jdbcType=TIMESTAMP})  
    </if>
    <if test="endTime != null" >
      and date(CreateTime) &lt;= date(#{endTime,jdbcType=TIMESTAMP})    
    </if>
     order by CreateTime desc
  </select>
  
  <!-- 获取我发展的用户数 -->
  <select id="getUserCountByUpUserid" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(UserID) from u_users where UpUserId = #{upid,jdbcType=BIGINT}   
  </select>
  <select id="findUsersByActId" resultMap="BaseResultMap"  ><!-- 05 活动领取优惠券的人 -->
    select userId,NickName,UserImg from u_users where userId in( select userId  from ti_userdiscounts
    where  ActId=#{actId,jdbcType=INTEGER} 
    GROUP BY UserId  ORDER BY Id asc)
  </select>
  
  <insert id="insertReturnKeyId" useGeneratedKeys="true" keyProperty="userid" parameterType="com.bbyiya.model.UUsers" >
    insert into u_users (UserID, PassWord, MobilePhone, 
      MobileBind, Status, Identity, 
      UserImg, NickName, Email, 
      CreateTime, Sign, Birthday, 
      UpUserId, SourseUserId)
    values (#{userid,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{mobilebind,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{identity,jdbcType=BIGINT}, 
      #{userimg,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{sign,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{upuserid,jdbcType=BIGINT}, #{sourseuserid,jdbcType=BIGINT})
  </insert>
  <insert id="insert" parameterType="com.bbyiya.model.UUsers" >
    insert into u_users (UserID, PassWord, MobilePhone, 
      MobileBind, Status, Identity, 
      UserImg, NickName, Email, 
      CreateTime, Sign, Birthday, 
      UpUserId, SourseUserId)
    values (#{userid,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{mobilebind,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{identity,jdbcType=BIGINT}, 
      #{userimg,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{sign,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{upuserid,jdbcType=BIGINT}, #{sourseuserid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UUsers" >
    insert into u_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserID,
      </if>
      <if test="password != null" >
        PassWord,
      </if>
      <if test="mobilephone != null" >
        MobilePhone,
      </if>
      <if test="mobilebind != null" >
        MobileBind,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="identity != null" >
        Identity,
      </if>
      <if test="userimg != null" >
        UserImg,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="sign != null" >
        Sign,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="upuserid != null" >
        UpUserId,
      </if>
      <if test="sourseuserid != null" >
        SourseUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="mobilebind != null" >
        #{mobilebind,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=BIGINT},
      </if>
      <if test="userimg != null" >
        #{userimg,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="upuserid != null" >
        #{upuserid,jdbcType=BIGINT},
      </if>
      <if test="sourseuserid != null" >
        #{sourseuserid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UUsers" >
    update u_users
    <set >
      <if test="password != null" >
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        MobilePhone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="mobilebind != null" >
        MobileBind = #{mobilebind,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="identity != null" >
        Identity = #{identity,jdbcType=BIGINT},
      </if>
      <if test="userimg != null" >
        UserImg = #{userimg,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null" >
        Sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="upuserid != null" >
        UpUserId = #{upuserid,jdbcType=BIGINT},
      </if>
      <if test="sourseuserid != null" >
        SourseUserId = #{sourseuserid,jdbcType=BIGINT},
      </if>
    </set>
    where UserID = #{userid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UUsers" >
    update u_users
    set PassWord = #{password,jdbcType=VARCHAR},
      MobilePhone = #{mobilephone,jdbcType=VARCHAR},
      MobileBind = #{mobilebind,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      Identity = #{identity,jdbcType=BIGINT},
      UserImg = #{userimg,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Sign = #{sign,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=DATE},
      UpUserId = #{upuserid,jdbcType=BIGINT},
      SourseUserId = #{sourseuserid,jdbcType=BIGINT}
    where UserID = #{userid,jdbcType=BIGINT}
  </update>
</mapper>