<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UUseraddressMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UUseraddress" >
    <id column="AddrId" property="addrid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Reciver" property="reciver" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Province" property="province" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="INTEGER" />
    <result column="Area" property="area" jdbcType="INTEGER" />
    <result column="StreetDetail" property="streetdetail" jdbcType="VARCHAR" />
    <result column="PostCode" property="postcode" jdbcType="VARCHAR" />
    <result column="IsDefault" property="isdefault" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    AddrId, UserId, Reciver, Phone, Province, City, Area, StreetDetail, PostCode, IsDefault
  </sql>
  <select id="find_UUserAddressByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from U_UserAddress
    where UserId = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from U_UserAddress
    where AddrId = #{addrid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UUseraddress" >
    insert into U_UserAddress (AddrId, UserId, Reciver, 
      Phone, Province, City, 
      Area, StreetDetail, PostCode, 
      IsDefault)
    values (#{addrid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{reciver,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, 
      #{area,jdbcType=INTEGER}, #{streetdetail,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{isdefault,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UUseraddress" >
    insert into U_UserAddress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addrid != null" >
        AddrId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="reciver != null" >
        Reciver,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="province != null" >
        Province,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="area != null" >
        Area,
      </if>
      <if test="streetdetail != null" >
        StreetDetail,
      </if>
      <if test="postcode != null" >
        PostCode,
      </if>
      <if test="isdefault != null" >
        IsDefault,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addrid != null" >
        #{addrid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="reciver != null" >
        #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        #{streetdetail,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UUseraddress" >
    update U_UserAddress
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="reciver != null" >
        Reciver = #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        Province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        Area = #{area,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        PostCode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        IsDefault = #{isdefault,jdbcType=INTEGER},
      </if>
    </set>
    where AddrId = #{addrid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UUseraddress" >
    update U_UserAddress
    set UserId = #{userid,jdbcType=BIGINT},
      Reciver = #{reciver,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Province = #{province,jdbcType=INTEGER},
      City = #{city,jdbcType=INTEGER},
      Area = #{area,jdbcType=INTEGER},
      StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      PostCode = #{postcode,jdbcType=VARCHAR},
      IsDefault = #{isdefault,jdbcType=INTEGER}
    where AddrId = #{addrid,jdbcType=BIGINT}
  </update>
</mapper>