<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UWeiuserapplysMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UWeiuserapplys" >
    <id column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="MobilePhone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="IdCard" property="idcard" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="ProcessTime" property="processtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserId, MobilePhone, Name, IdCard, CreateTime, Status, Remark, ProcessTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_weiuserapplys
    where UserId = #{userid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_weiuserapplys
    where UserId = #{userid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UWeiuserapplys" >
    insert into u_weiuserapplys (UserId, MobilePhone, Name, 
      IdCard, CreateTime, Status, 
      Remark, ProcessTime)
    values (#{userid,jdbcType=BIGINT}, #{mobilephone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{processtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UWeiuserapplys" >
    insert into u_weiuserapplys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserId,
      </if>
      <if test="mobilephone != null" >
        MobilePhone,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="idcard != null" >
        IdCard,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="processtime != null" >
        ProcessTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="processtime != null" >
        #{processtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UWeiuserapplys" >
    update u_weiuserapplys
    <set >
      <if test="mobilephone != null" >
        MobilePhone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        IdCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="processtime != null" >
        ProcessTime = #{processtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UserId = #{userid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UWeiuserapplys" >
    update u_weiuserapplys
    set MobilePhone = #{mobilephone,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      IdCard = #{idcard,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      ProcessTime = #{processtime,jdbcType=TIMESTAMP}
    where UserId = #{userid,jdbcType=BIGINT}
  </update>
</mapper>