<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UWeiusersMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UWeiusers" >
    <id column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserId, Mobilephone, Name, Status, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_weiusers
    where UserId = #{userid,jdbcType=BIGINT}
  </select>
  
  <!-- 获取微商 列表 -->
  <select id="findUWeiusersList" resultMap="BaseResultMap" parameterType="com.bbyiya.vo.user.UWeiUserSearchParam" >
    select 
    <include refid="Base_Column_List" />
    from u_weiusers
    where 1=1
    <if test="userId != null and userId>0" >
        and  UserId = #{userId,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
       and  Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="mobilephone != null and mobilephone!=''" >
       and  Mobilephone = #{mobilephone,jdbcType=VARCHAR}
    </if>
     <if test="name != null and name!=''" >
       and  Name = #{name,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_weiusers
    where UserId = #{userid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UWeiusers" >
    insert into u_weiusers (UserId, Mobilephone, Name, 
      Status, CreateTime)
    values (#{userid,jdbcType=BIGINT}, #{mobilephone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UWeiusers" >
    insert into u_weiusers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserId,
      </if>
      <if test="mobilephone != null" >
        Mobilephone,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UWeiusers" >
    update u_weiusers
    <set >
      <if test="mobilephone != null" >
        Mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UserId = #{userid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UWeiusers" >
    update u_weiusers
    set Mobilephone = #{mobilephone,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where UserId = #{userid,jdbcType=BIGINT}
  </update>
</mapper>