<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.pic.dao.IMyProductDetailsDao">
	<sql id="Base_Column_List">
		PdId, CartId, SceneId, ImgUrl, Content, Sort, CreateTime, UserId, Title, Description
	</sql>
	<resultMap id="BaseResultMap" type="com.bbyiya.model.PMyproductdetails">
		<id column="PdId" property="pdid" jdbcType="BIGINT" />
		<result column="CartId" property="cartid" jdbcType="BIGINT" />
		<result column="SceneId" property="sceneid" jdbcType="INTEGER" />
		<result column="ImgUrl" property="imgurl" jdbcType="VARCHAR" />
		<result column="Content" property="content" jdbcType="VARCHAR" />
		<result column="Sort" property="sort" jdbcType="INTEGER" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="UserId" property="userid" jdbcType="BIGINT" />
		<result column="Title" property="title" jdbcType="VARCHAR" />
    	<result column="Description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<!--   我的作品详情Result -->
	<resultMap id="MyProductDetailsResult"
		type="com.bbyiya.pic.vo.product.MyProductsDetailsResult" extends="BaseResultMap">
	</resultMap>
	<!-- 根据作品Id获取作品详细列表 -->
	<select id="findMyProductDetailsResult" resultMap="MyProductDetailsResult">
		select
		<include refid="Base_Column_List" />
		from p_myproductdetails
		where CartId = #{cartId,jdbcType=BIGINT} order
		by Sort asc
	</select>
	<delete id="deleMyProductDetailsByCartId" ><!-- 根据作品Id删除我的作品 -->
		delete from p_myproductdetails
		where CartId = #{cartId,jdbcType=BIGINT}
	</delete>
</mapper>