<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.pic.dao.IMyProductsDao" >
  <sql id="Base_Column_List" >
    CartId, UserId, Title, Author, ProductId, StyleId, CreateTime, Status, Phone, OrderNo, 
    InviteStatus, UpdateTime, HeadImg, Description, Version, IsTemp, TempId
  </sql>
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PMyproducts" >
    <id column="CartId" property="cartid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Author" property="author" jdbcType="VARCHAR" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="StyleId" property="styleid" jdbcType="BIGINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="OrderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="InviteStatus" property="invitestatus" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="HeadImg" property="headimg" jdbcType="VARCHAR" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Version" property="version" jdbcType="VARCHAR" />
    <result column="IsTemp" property="istemp" jdbcType="INTEGER" />
    <result column="TempId" property="tempid" jdbcType="INTEGER" />
  </resultMap>
  <!-- 我的作品返回model -->
  <resultMap id="MyProductResultVO" type="com.bbyiya.pic.vo.product.MyProductsResult" extends="BaseResultMap">  
  </resultMap>  
  <resultMap id="MyProductListVO" type="com.bbyiya.pic.vo.product.MyProductListVo" extends="BaseResultMap">  
	  <result column="InvitePhone" property="myPhone" jdbcType="VARCHAR" /><!-- 我的手机 -->
	  <result column="InviteTime" property="inviteTime" jdbcType="TIMESTAMP" />
	  <result column="InStatus" property="inStatus" jdbcType="INTEGER" />
  </resultMap>  
  <select id="getMyProductResultVo" resultMap="MyProductResultVO" parameterType="java.lang.Long" ><!-- 主键获取作品 -->
    select 
    <include refid="Base_Column_List" />
    from p_myproducts
    where CartId = #{cartid,jdbcType=BIGINT}
  </select>
  <!-- 通过 UserId   ，ProductId, Status 获取作品 -->  
  <select id="getMyProductResultByProductId" resultMap="MyProductResultVO" >
    select <include refid="Base_Column_List" />
    from p_myproducts
    where UserId = #{userId,jdbcType=BIGINT} and ProductId=#{productId,jdbcType=BIGINT} and Status=#{status,jdbcType=INTEGER} order by  CartId desc 
  </select>
  
  <!-- 通过TempId获取作品  status=3删除状态-->  
  <select id="getMyProductResultByTempId" resultMap="MyProductListVO" >
    select <include refid="Base_Column_List" />
    from p_myproducts
    where TempId = #{tempid,jdbcType=INTEGER} and Status!=3 order by  CartId desc 
  </select>
  
  <!-- 获取我的作品列表（包括被邀约的作品） -->
  <!--<select id="findMyProductList" resultMap="MyProductListVO" >
   SELECT a.*,b.InvitePhone,b.CreateTime as InviteTime,b.Status as InStatus  from p_myproducts a LEFT JOIN p_myproductsinvites b on a.CartId=b.CartId
   WHERE a.UserId=#{userId,jdbcType=BIGINT} 
   OR (b.InvitePhone=#{phone,jdbcType=VARCHAR} and (b.InviteType is null or b.InviteType=0) and b.Status!=2)
   OR (b.InviteUserId=#{userId,jdbcType=BIGINT} and b.InviteType=1 and b.Status=3)
   ORDER BY a.CreateTime DESC,b.CreateTime  DESC 
  </select>-->
   <select id="findMyProductList" resultMap="MyProductListVO" >
   SELECT a.*,b.InvitePhone,case when (b.UserID=#{userId,jdbcType=BIGINT} or b.UserId is null) then a.CreateTime else b.CreateTime end as InviteTime,b.Status as InStatus  from p_myproducts a LEFT JOIN p_myproductsinvites b on a.CartId=b.CartId
   WHERE a.UserId=#{userId,jdbcType=BIGINT} and a.Status!=3 and a.IsTemp!=1
   OR (b.InvitePhone=#{phone,jdbcType=VARCHAR} and (b.InviteType is null or b.InviteType=0) and b.Status!=2)
   OR (b.InviteUserId=#{userId,jdbcType=BIGINT} and b.InviteType=1 and b.Status=3)
   ORDER BY InviteTime DESC 
  </select>
  <select id="getMyProductVO" resultMap="MyProductListVO" ><!-- get 获取作品详情 -->
    SELECT a.*,b.InvitePhone,b.CreateTime as InviteTime,b.Status as InStatus  from p_myproducts a LEFT JOIN p_myproductsinvites b on a.CartId=b.CartId
    WHERE a.CartId=#{cartid,jdbcType=BIGINT}  
  </select>
</mapper>