<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.pic.dao.IPic_OrderMgtDao" >
   <resultMap id="BaseResultMap" type="com.bbyiya.model.OUserorders" >
    <id column="UserOrderId" property="userorderid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="TotalPrice" property="totalprice" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="BranchUserId" property="branchuserid" jdbcType="BIGINT" />
    <result column="OrderAddressId" property="orderaddressid" jdbcType="BIGINT" />
    <result column="PayId" property="payid" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="OrderTime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="PayTime" property="paytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserOrderId, UserId, TotalPrice, Status, BranchUserId, OrderAddressId, PayId, Remark, 
    OrderTime, PayTime
  </sql>
  <resultMap id="OProductDetailMap" type="com.bbyiya.model.OOrderproductdetails" >
    <id column="OProductDetailId" property="oproductdetailid" jdbcType="BIGINT" />
    <result column="OrderProductId" property="orderproductid" jdbcType="VARCHAR" />
    <result column="PrintNo" property="printno" jdbcType="VARCHAR" />
    <result column="Position" property="position" jdbcType="INTEGER" />
    <result column="ImageUrl" property="imageurl" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="OOrderproductdetails_Column_List" >
    OProductDetailId, OrderProductId, PrintNo, Position, ImageUrl, CreateTime
  </sql>
  <!-- 用户订单结果类Result -->
  <resultMap id="UserOrderResult" type="com.bbyiya.pic.vo.order.UserOrderResultVO" extends="BaseResultMap">  
  </resultMap>  
  
  <!-- 搜索订单列表作品 -->
  <select id="findUserOrders" resultMap="UserOrderResult" parameterType="com.bbyiya.pic.vo.order.SearchOrderParam"  >
    select 
    <include refid="Base_Column_List" />
    from O_UserOrders where 1=1 
    <if test="orderNo != null" >
        AND UserOrderId LIKE  CONCAT('%', #{orderNo,jdbcType=VARCHAR},'%' )  
    </if>
    <if test="status != null" >
        AND Status = #{status,jdbcType=INTEGER}
    </if>
     order by OrderTime desc
  </select>
   <!-- 搜索订单图片列表  -->
   <select id="findOrderProductDetailsByProductOrderId" resultMap="OProductDetailMap"  >
    select  <include refid="OOrderproductdetails_Column_List" />
    from O_OrderProductDetails where OrderProductId=#{orderProductId,jdbcType=VARCHAR}  
    order by Position asc
  </select>
</mapper>