<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.MBigcaseuserimgsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.MBigcaseuserimgs" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="CaseId" property="caseid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Position" property="position" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="ImageUrl" property="imageurl" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CaseId, UserId, Position, CreateTime, ImageUrl, Content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from M_BigCaseUserImgs
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from M_BigCaseUserImgs
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.MBigcaseuserimgs" >
    insert into M_BigCaseUserImgs (Id, CaseId, UserId, 
      Position, CreateTime, ImageUrl, 
      Content)
    values (#{id,jdbcType=BIGINT}, #{caseid,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, 
      #{position,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{imageurl,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.MBigcaseuserimgs" >
    insert into M_BigCaseUserImgs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="caseid != null" >
        CaseId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="position != null" >
        Position,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="imageurl != null" >
        ImageUrl,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="caseid != null" >
        #{caseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.MBigcaseuserimgs" >
    update M_BigCaseUserImgs
    <set >
      <if test="caseid != null" >
        CaseId = #{caseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        Position = #{position,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageurl != null" >
        ImageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.MBigcaseuserimgs" >
    update M_BigCaseUserImgs
    set CaseId = #{caseid,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=BIGINT},
      Position = #{position,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ImageUrl = #{imageurl,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>