<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.PProductstylesMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.PProductstyles" >
    <id column="StyleId" property="styleid" jdbcType="BIGINT" />
    <result column="ProductId" property="productid" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="DefaultImg" property="defaultimg" jdbcType="VARCHAR" />
    <result column="OldPrice" property="oldprice" jdbcType="DECIMAL" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="IsDefault" property="isdefault" jdbcType="INTEGER" />
    <result column="PropertyStr" property="propertystr" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    StyleId, ProductId, UserId, DefaultImg, OldPrice, Price, Status, IsDefault, PropertyStr, 
    CreateTime, UpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from P_ProductStyles
    where StyleId = #{styleid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from P_ProductStyles
    where StyleId = #{styleid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.PProductstyles" >
    insert into P_ProductStyles (StyleId, ProductId, UserId, 
      DefaultImg, OldPrice, Price, 
      Status, IsDefault, PropertyStr, 
      CreateTime, UpdateTime)
    values (#{styleid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{defaultimg,jdbcType=VARCHAR}, #{oldprice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{isdefault,jdbcType=INTEGER}, #{propertystr,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.PProductstyles" >
    insert into P_ProductStyles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        StyleId,
      </if>
      <if test="productid != null" >
        ProductId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="defaultimg != null" >
        DefaultImg,
      </if>
      <if test="oldprice != null" >
        OldPrice,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="isdefault != null" >
        IsDefault,
      </if>
      <if test="propertystr != null" >
        PropertyStr,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        #{styleid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="defaultimg != null" >
        #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null" >
        #{oldprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="propertystr != null" >
        #{propertystr,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.PProductstyles" >
    update P_ProductStyles
    <set >
      <if test="productid != null" >
        ProductId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="defaultimg != null" >
        DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null" >
        OldPrice = #{oldprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null" >
        IsDefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="propertystr != null" >
        PropertyStr = #{propertystr,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where StyleId = #{styleid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.PProductstyles" >
    update P_ProductStyles
    set ProductId = #{productid,jdbcType=BIGINT},
      UserId = #{userid,jdbcType=BIGINT},
      DefaultImg = #{defaultimg,jdbcType=VARCHAR},
      OldPrice = #{oldprice,jdbcType=DECIMAL},
      Price = #{price,jdbcType=DECIMAL},
      Status = #{status,jdbcType=INTEGER},
      IsDefault = #{isdefault,jdbcType=INTEGER},
      PropertyStr = #{propertystr,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where StyleId = #{styleid,jdbcType=BIGINT}
  </update>
</mapper>