<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.RCityMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.RCity" >
    <id column="Code" property="code" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="ProvinceCode" property="provincecode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Code, City, ProvinceCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from R_City
    where Code = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from R_City
    where Code = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.RCity" >
    insert into R_City (Code, City, ProvinceCode
      )
    values (#{code,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{provincecode,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.RCity" >
    insert into R_City
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        Code,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="provincecode != null" >
        ProvinceCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        #{provincecode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.RCity" >
    update R_City
    <set >
      <if test="city != null" >
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        ProvinceCode = #{provincecode,jdbcType=INTEGER},
      </if>
    </set>
    where Code = #{code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.RCity" >
    update R_City
    set City = #{city,jdbcType=VARCHAR},
      ProvinceCode = #{provincecode,jdbcType=INTEGER}
    where Code = #{code,jdbcType=INTEGER}
  </update>
</mapper>