<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.SMusicsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.SMusics" >
    <id column="MusicId" property="musicid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="DownloadUrl" property="downloadurl" jdbcType="VARCHAR" />
    <result column="ImageUrl" property="imageurl" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="MusicType" property="musictype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    MusicId, Name, DownloadUrl, ImageUrl, CreateTime, MusicType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from S_Musics
    where MusicId = #{musicid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from S_Musics
    where MusicId = #{musicid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.SMusics" >
    insert into S_Musics (MusicId, Name, DownloadUrl, 
      ImageUrl, CreateTime, MusicType
      )
    values (#{musicid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{downloadurl,jdbcType=VARCHAR}, 
      #{imageurl,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{musictype,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.SMusics" >
    insert into S_Musics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="musicid != null" >
        MusicId,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="downloadurl != null" >
        DownloadUrl,
      </if>
      <if test="imageurl != null" >
        ImageUrl,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="musictype != null" >
        MusicType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="musicid != null" >
        #{musicid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="downloadurl != null" >
        #{downloadurl,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="musictype != null" >
        #{musictype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.SMusics" >
    update S_Musics
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="downloadurl != null" >
        DownloadUrl = #{downloadurl,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null" >
        ImageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="musictype != null" >
        MusicType = #{musictype,jdbcType=INTEGER},
      </if>
    </set>
    where MusicId = #{musicid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.SMusics" >
    update S_Musics
    set Name = #{name,jdbcType=VARCHAR},
      DownloadUrl = #{downloadurl,jdbcType=VARCHAR},
      ImageUrl = #{imageurl,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      MusicType = #{musictype,jdbcType=INTEGER}
    where MusicId = #{musicid,jdbcType=INTEGER}
  </update>
</mapper>