<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.SReadsMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.SReads" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Summary" property="summary" jdbcType="VARCHAR" />
    <result column="TypeId" property="typeid" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bbyiya.model.SReads" extends="BaseResultMap" >
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Title, Summary, TypeId, CreateTime
  </sql>
  <sql id="Blob_Column_List" >
    Content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from S_Reads
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from S_Reads
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.SReads" >
    insert into S_Reads (ID, Title, Summary, 
      TypeId, CreateTime, Content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{typeid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.SReads" >
    insert into S_Reads
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="summary != null" >
        Summary,
      </if>
      <if test="typeid != null" >
        TypeId,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.SReads" >
    update S_Reads
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        Summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        TypeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bbyiya.model.SReads" >
    update S_Reads
    set Title = #{title,jdbcType=VARCHAR},
      Summary = #{summary,jdbcType=VARCHAR},
      TypeId = #{typeid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Content = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.SReads" >
    update S_Reads
    set Title = #{title,jdbcType=VARCHAR},
      Summary = #{summary,jdbcType=VARCHAR},
      TypeId = #{typeid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>