<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UAdminloginlogMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UAdminloginlog" >
    <id column="logId" property="logid" jdbcType="BIGINT" />
    <result column="AdminId" property="adminid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    logId, AdminId, UserName, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from U_AdminLoginLog
    where logId = #{logid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from U_AdminLoginLog
    where logId = #{logid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UAdminloginlog" >
    insert into U_AdminLoginLog (logId, AdminId, UserName, 
      CreateTime)
    values (#{logid,jdbcType=BIGINT}, #{adminid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UAdminloginlog" >
    insert into U_AdminLoginLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        logId,
      </if>
      <if test="adminid != null" >
        AdminId,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=BIGINT},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UAdminloginlog" >
    update U_AdminLoginLog
    <set >
      <if test="adminid != null" >
        AdminId = #{adminid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where logId = #{logid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UAdminloginlog" >
    update U_AdminLoginLog
    set AdminId = #{adminid,jdbcType=INTEGER},
      UserName = #{username,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where logId = #{logid,jdbcType=BIGINT}
  </update>
</mapper>