<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbyiya.dao.UBranchinfotempMapper" >
  <resultMap id="BaseResultMap" type="com.bbyiya.model.UBranchinfotemp" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="ContactName" property="contactname" jdbcType="VARCHAR" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Province" property="province" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="INTEGER" />
    <result column="District" property="district" jdbcType="INTEGER" />
    <result column="StreetDetail" property="streetdetail" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ContactName, CompanyName, Phone, Province, City, District, StreetDetail, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from U_BranchInfoTemp
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from U_BranchInfoTemp
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbyiya.model.UBranchinfotemp" >
    insert into U_BranchInfoTemp (Id, ContactName, CompanyName, 
      Phone, Province, City, 
      District, StreetDetail, CreateTime
      )
    values (#{id,jdbcType=INTEGER}, #{contactname,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, 
      #{district,jdbcType=INTEGER}, #{streetdetail,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbyiya.model.UBranchinfotemp" >
    insert into U_BranchInfoTemp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="contactname != null" >
        ContactName,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="province != null" >
        Province,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="district != null" >
        District,
      </if>
      <if test="streetdetail != null" >
        StreetDetail,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contactname != null" >
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        #{streetdetail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbyiya.model.UBranchinfotemp" >
    update U_BranchInfoTemp
    <set >
      <if test="contactname != null" >
        ContactName = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        Province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        District = #{district,jdbcType=INTEGER},
      </if>
      <if test="streetdetail != null" >
        StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbyiya.model.UBranchinfotemp" >
    update U_BranchInfoTemp
    set ContactName = #{contactname,jdbcType=VARCHAR},
      CompanyName = #{companyname,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Province = #{province,jdbcType=INTEGER},
      City = #{city,jdbcType=INTEGER},
      District = #{district,jdbcType=INTEGER},
      StreetDetail = #{streetdetail,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>