<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<yp_single_url value="https://sms.yunpian.com/v2/sms/single_send.json"/><!-- 云片  -->
	<yp_add_url value="https://sms.yunpian.com/v2/tpl/add.json"/><!-- 云片添加模板url -->
	<yp_apikey value="593936c15fcc5c7824407d9953eb2bef"/><!-- 云片apikey -->
	<qiniu_ACCESS_KEY value="vLHbgaYj8mfvPUTpMCYLbAetXh-Cg0Fk0R_FtAN_"/>
	<qiniu_SECRET_KEY value="re1EvlR0FwlSv9YEYlJsHw_WRIcshxhbxilGvmRN"/>
	<qiniu_imagedomain value="http://obbepyhga.bkt.clouddn.com/"/><!-- 图片域名 -->
	<scenelist><!-- 每日推荐 -->
		<item id="1" productId="1001" title="出生前的合影" content="这是我出生前和妈妈的合影，那时候我竟然是生活在水中的，等我长大后，我希望妈妈能够告诉我那是一种怎样奇妙的景象。" tips="宝贝，虽然妈妈孕育你的过程并不那么轻松，但是能够拥有你，是我和爸爸一生中最骄傲的事情。"  />
		<item id="2" productId="1001" title="迎接的仪式感" content="为了迎接我的到来，爸爸和妈妈给我准备了许多东西，并买了很多衣服，妈妈，你还不知道我的性别呢，不要买太多啦！" tips="你还没出生，我们却已经想把最好的都给你，这种为人母、为人父的心情让我们瞬间明白了责任二字的意义。" />
		<item id="3" productId="1001" title="不可或缺的相片" content="这是我出生的地方，也是我人生的中转站。这里瞬间变成家人们充满期盼的地方。我不知道长大以后还会不会看到这个地方。" tips="为你留下这张照片，也是希望等你今后长大，问起我你在哪里出生，我好重新翻阅历史，告诉你那一天是怎样的经历。"  />
		<item id="4" productId="1001" title="我的0岁生日" content="这里是我0岁生日的背景。尽管产房内只有我和妈妈两个人，但我能够感受到家人在产房外祈祷期盼的心情。因为0岁的生日，是每个人一生中最被重视的生日。" tips="我们为什么要过生日？因为那是值得纪念的日子，在所有的生日里，0岁生日是那么的特殊，也是最值得纪念的时刻。"  />
		<item id="5" productId="1001" title="迎接生命的人" content="助产士和医生是比妈妈还要先见到我的人，是她们将我捧到妈妈面前，她们也是最希望我们平安的人。" tips="宝贝，这是我们最需要感谢的人，虽然我们和她们素不相识，但她们却让我们“相识”。"  />
		<item id="6" productId="1001" title="第一次亲密接触" content="猛然离开妈妈的身体，我特别没有安全感，但是，当我紧紧挨着妈妈的胸口，我又听到了那熟悉的心跳，闻到了熟悉的味道，感受到妈妈的体温。" tips="当我第一次用双手拥抱着你，这让我真实感受到你的存在，你是那么弱小，哭声却那么的有力，我第一次有了做妈妈的感觉。"  />
		<item id="7" productId="1001" title="熟悉的陌生人" content="当你抱起我，我能感受到强而有力的臂膀，你的呼唤声低沉又熟悉的声音也与妈妈不同。你温情地告诉我，你是我的爸爸。" tips="爸爸抱着你的画面，是妈妈眼中最温馨的画面。感谢你宝贝，你让爸爸从手足无措变成了内心柔软的父亲，成为了一个真正意义上的男人。" />
		<item id="8" productId="1001" title="我更像谁" content="我并不知道我长的像谁，但是总听到爸爸妈妈说我的耳朵更像谁，鼻子更像谁。" tips="出生前我们曾努力想象你的样子，是更像爸爸还是更像妈妈。但你现在的样子，就是我最满意的样子。"  />
		<item id="9" productId="1001" title="热闹的家" content="在我的小床里有许多玩偶，这是爸爸妈妈欢迎我回家的方式。他们是我人生中首批小伙伴，这也是我回家后第一次歇息的地方。" tips="从今天开始，你将在这里幸福快乐的成长，你也变成我们家中最受重视的一员啦。"  />
		<item id="10" productId="1001" title="我的忠实粉丝" content="自从有了我，爸爸妈妈变成了我的头号粉丝，我睡觉，我醒着，我打哈欠、甚至于我哭，都成了爸妈最好的摄影素材，叔叔阿姨们，我是不是在你们的朋友圈里长期霸屏呀？" tips="你每天的样子都在不断发生着变化，为了不错过这些细微的点滴，我不停的用镜头记录着这一切，生怕遗漏某些重要的瞬间。"  />
		<item id="11" productId="1001" title="我的小手小脚" content="妈妈爸爸最喜欢摆弄我的小手小脚。爸爸喜欢亲我的脚丫，妈妈总是舒展开我的小拳头，我的小手现在还不会自然张开呢，请给我点时间，也给你们一点点耐心去等待。" tips="你紧紧地握着小拳头，像是对这个世界的宣誓，长大后的你，会努力靠自己的力量开辟出属于自己的精彩人生。"  />
		<item id="12" productId="1001" title="我最像天使的样子" content="出生后，别看我大量的时间都在睡觉，但其实我的脑袋里从来没停止过想象。" tips="你总在入睡时微笑，仿佛在说，妈妈我很幸福。那是我最爱你的样子，像个安静的天使。" />
		<item id="13" productId="1001" title="光溜溜的我" content="爸爸妈妈对我的每一次抚摸，都能让我的身体和大脑有新的感知。也让我能更快乐健康的成长。" tips="当然要为你留一张光屁屁的照片，每次对你的抚摸都在表达我们对你深深地爱。"  />
		<item id="14" productId="1001" title="看着我的眼睛" content="这张照片上虽然我和妈妈对视着，但其实我的眼睛只能看到20厘米以内的东西，尽管这样，我还是很努力的再寻找着妈妈的目光。" tips="你的眼睛纯净透明，是这世上最美的珍宝，那种对世界充满好奇的样子，就叫做纯真。"  />
		<item id="15" productId="1001" title="我的身份证" content="放在我枕头旁边的东西叫做出生证，是我来到这个世界上的第一个官方证明，这么重要的物件当然要合影留念啦。" tips="这张出生证上登记着你的体重和身高，你是那么的小，爸爸妈妈希望你快快地长大。"  />			
	</scenelist>
	<wxBackUrl  value="https://mpic.bbyiya.com/wxpay/WxPayNotify"/><!-- 微信公众号支付回写地址 -->
	<wxAppBackUrl  value="https://mpic.bbyiya.com/wxapppay/WxPayNotify"/><!-- 微信app支付回写地址 -->
	<wxQuery value="https://api.mch.weixin.qq.com/pay/orderquery"/><!-- 微信订单查询 -->
	<loginbackurl value="http://photo.bbyiya.com/"/>
	<loginbackurl_test value="http://photo.bbyiya.com:82/"/><!-- c端测试 -->
	<loginbackurl_ibs value="http://photo.bbyiya.com/ibs/index.html"/><!-- ibs首页 -->
	<testcode value="yiya123456"  count="50"/>
	<testcodeNum value="yiya123456" /><!-- 咿呀测试用户 -->
	<adminUsers>
		<item userId="37"/>
		<item userId="35"/>
		<item userId="75"/>
	</adminUsers>
</appSettings>