<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<wapDomain value="m.okwei.com" /><!-- wap域名 -->
	<currentDomain value="10.10.10.194:8080" /><!-- 当前服务器域名 -->
	<imgDoman value=""/><!-- 图片域名 -->
	<imgPathTemp value="temp\"/> <!-- 图片临时地址 -->
	<yp_single_url value="https://sms.yunpian.com/v2/sms/single_send.json"/><!-- 云片  -->
	<yp_add_url value="https://sms.yunpian.com/v2/tpl/add.json"/><!-- 云片添加模板url -->
	<yp_apikey value="593936c15fcc5c7824407d9953eb2bef"/><!-- 云片apikey -->
	<qiniu_ACCESS_KEY value="vLHbgaYj8mfvPUTpMCYLbAetXh-Cg0Fk0R_FtAN_"/>
	<qiniu_SECRET_KEY value="re1EvlR0FwlSv9YEYlJsHw_WRIcshxhbxilGvmRN"/>
	<qiniu_imagedomain value="http://obbepyhga.bkt.clouddn.com/"/><!-- 图片域名 -->
	<muscis><!-- 每日推荐 -->
		<music ReId="1" MusicId="1" LinkUrl="http://obbepyhga.bkt.clouddn.com/201612/1837016cf3b68fc21e44118aee0e22fcb6aca77.mp3"/>
		<music ReId="2" MusicId="2" LinkUrl="http://obbepyhga.bkt.clouddn.com/201612/1837016cf3b68fc21e44118aee0e22fcb6aca77.mp3"/>
		<music ReId="3" MusicId="3" LinkUrl="http://obbepyhga.bkt.clouddn.com/201612/1837016cf3b68fc21e44118aee0e22fcb6aca77.mp3"/>
		<music ReId="4" MusicId="4" LinkUrl="http://obbepyhga.bkt.clouddn.com/201612/1837016cf3b68fc21e44118aee0e22fcb6aca77.mp3"/>
	</muscis>
	<yiyaspeaks><!-- 咿呀说 -->
		<item id="1" title="测试001" imageUrl="http://www.baidu.com"/>
		<item id="2" title="测试001" imageUrl="http://www.baidu.com"/>
		<item id="3" title="测试001" imageUrl="http://www.baidu.com"/>
	</yiyaspeaks>
	<reads><!-- 每日读物 -->
		<item id="1"  title="爸爸的鼾声" summary="【作者】 Raimond Lap 【时期】 1912~1974" content="就像是山上的小火车，。。。"/>
		<item id="2" title="静夜思" summary="【作者】 李白  【朝代】唐朝 " content="窗前明月光，"/>
		<item id="3" title="拔河还是" summary="古典文学精选" content="湿哒哒倒萨"/>
		<item id="4" title="拔河还是" summary="古典文学精选" content="湿哒哒倒萨"/>
	</reads>
	<timeIntervals><!-- 时期 -->
		<item start="1" end="7" title="第一周" />
		<item start="8" end="14" title="第二周" />
		<item start="15" end="30" title="第1个月" />
		<item start="31" end="60" title="第2个月" />
		<item start="61" end="90" title="第3个月" />
		<item start="91" end="120" title="第4个月" />
		<item start="121" end="150" title="第5个月" />
		<item start="151" end="180" title="第6个月" />
		<item start="181" end="210" title="第7个月" />
		<item start="211" end="240" title="第8个月" />
		<item start="241" end="270" title="第9个月" />
		<item start="271" end="300" title="第10个月" />
		<item start="301" end="330" title="第11个月" />
		<item start="331" end="360" title="第12个月" />
	</timeIntervals>
</appSettings>